<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{include/student_layout}">
<th:block layout:fragment="content">
	<body>
	<style>
		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		  margin: 2px 0;
		  white-space: nowrap;
		  justify-content: center;
		}	
	</style>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-7 align-self-center">
						<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Basic Table</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb m-0 p-0">
									<li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
									<li class="breadcrumb-item text-muted active" aria-current="page">Library</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-5 align-self-center">
						<div class="customize-input float-right">
							<select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
								<option selected>Aug 19</option>
								<option value="1">July 19</option>
								<option value="2">Jun 19</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">주소록</h4>
								<div class="student-info">
							        <img src="https://via.placeholder.com/150" alt="학생 사진">
							        <div class="student-details">
							        <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
							            <ul>
							            	<img src=""/>
							            	<li>
												<p th:text="'이름 : '+${dto.student_name}"></p>
							            		<p>몇학년 몇반 몇번</p>
												<p th:text="'생년월일 : '+${dto.student_birth}"></p>
												<p th:text="'주소 : '+${dto.student_addr}+${dto.student_detail_addr}+'('+${dto.student_post_code}+')'"></p>
												<p th:text="'전화번호 : '+${dto.student_phone}"></p>
							            	</li>
							            </ul>
							        </div>
							        <a th:href="@{/student/update/{no}(no=${dto.student_no})}">수정</a>
							        <a th:onclick="studentDelete([[${dto.student_no}]])">삭제</a>
							    </div>
							</div>
						</div>
					</div>
				</div>

				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center text-muted">
				All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
			</footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
		<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- apps -->
		<!-- apps -->
		<script src="/dist/js/app-style-switcher.js"></script>
		<script src="/dist/js/feather.min.js"></script>
		<!-- slimscrollbar scrollbar JavaScript -->
		<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
		<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
		<!--Wave Effects -->
		<!-- themejs -->
		<!--Menu sidebar -->
		<script src="/dist/js/sidebarmenu.js"></script>
		<!--Custom JavaScript -->
		<script src="/dist/js/custom.min.js"></script>
		<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
		<script>
		const studentDelete = function(studentNo){
			if(confirm("정말 삭제하시겠습니까?")){
				const csrfToken = document.getElementById('csrf_token').value;
				 fetch('/student/'+studentNo,{
					 method : 'delete',
					 headers : {
							'X-CSRF-TOKEN':csrfToken}
				 })
				 .then(response => response.json())
				 .then(data => {
					 if(data.res_code == '200'){
							Swal.fire({
								icon :'success',
								title:'성공',
								text : data.res_msg ,
								confirmButtonText:"닫기"
							}).then((result)=>{
								location.href="/student";
							});
						} else{
							Swal.fire({
								icon:'error',
								title:'실패',
								text: data.res_msg,
								confirmButtonText:"닫기"
					 		});
						}
					})
			}}
	</script>	
	</body>
</html>