<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/student_layout}">
<th:block layout:fragment="content">
	<style>
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: center;
}
</style>
	<body>
		<div class="page-wrapper">
			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-7 align-self-center">
						<h4
							class="page-title text-truncate text-dark font-weight-medium mb-1">Basic
							Table</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb m-0 p-0">
									<li class="breadcrumb-item"><a href="index.html"
										class="text-muted">Home</a></li>
									<li class="breadcrumb-item text-muted active"
										aria-current="page">Library</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-5 align-self-center">
						<div class="customize-input float-right">
							<select
								class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
								<option selected>Aug 19</option>
								<option value="1">July 19</option>
								<option value="2">Jun 19</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">주소록</h4>
								<div class="table-responsive">
									<table id="address_book"
										class="table table-hover table-bordered no-wrap">
										<thead>
											<tr>
												<th scope="col">번호</th>
												<th scope="col">구분</th>
												<th scope="col">학년</th>
												<th scope="col">반</th>
												<th scope="col">번호</th>
												<th scope="col">성명</th>
												<th scope="col">생년월일</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:if="${#lists.isEmpty(resultList)}">
												<tr>
													<td colspan="7">주소록이 없습니다.</td>
												</tr>
											</th:block>
											<th:block th:if="${!#lists.isEmpty(resultList)}">
												<tr th:each="student, studentStat : ${resultList}">
													<td scope="row" th:text="${studentStat.count}"></td>
													<td th:text="${student.student_status}"></td>
													<td>학년</td>
													<td>반</td>
													<td>번호</td>
													<td th:text="${student.student_name}"></td>
													<td><a th:text="${student.student_birth}"
														th:href="@{/student/{no}(no=${student.student_no})}"></a>
													</td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
		<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
		<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/dist/js/app-style-switcher.js"></script>
		<script src="/dist/js/feather.min.js"></script>
		<script
			src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
		<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
		<script src="/dist/js/sidebarmenu.js"></script>
		<script src="/dist/js/custom.min.js"></script>
		<script
			src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
	</body>
</html>