<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="approveNavLayout">
	 <aside class="left-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <style>
        </style>
        <nav class="sidebar-nav">
          <ul id="sidebarnav">

            <li class="sidebar-item"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">휴가 관리</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/approve}" class="sidebar-link"><span class="hide-menu"> 보낸 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/comeApprove}" class="sidebar-link"><span class="hide-menu"> 결재 대기함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/refApprove}" class="sidebar-link"><span class="hide-menu"> 참조 문서함
                    </span></a>
                </li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu"> 임시 보관함
                    </span></a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">보고서 관리</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/approveDocu}" class="sidebar-link"><span class="hide-menu"> 보낸 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu"> 결재 대기함
                    </span></a>
                </li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu"> 임시 보관함
                    </span></a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">문서 종합 관리</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu"> 완료 문서
                    </span></a>
                </li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </aside>
</th:block>
</html>