<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="employeeNavLayout">
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->

			<nav class="sidebar-nav">
				<ul id="sidebarnav">
				
					<!-- 직원 Nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow active" href="javascript:void(0)" aria-expanded="false"> 
							<span class="hide-menu">직원</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line" >
							<li class="sidebar-item">
								<a th:href="@{/employee/list}" class="sidebar-link">
									<span class="hide-menu"> 직원목록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/employee/add}" class="sidebar-link">
									<span class="hide-menu"> 직원등록 </span>
								</a>
							</li>
						</ul>
					</li>
	
					<!-- 학생 Nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
							<span class="hide-menu">학생</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">
									<span class="hide-menu"> 결재 요청함 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">
									<span class="hide-menu"> 결재 대기함 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a href="#" class="sidebar-link">
									<span class="hide-menu"> 임시 보관함 </span>
								</a>
							</li>
						</ul>
					</li>
					
					<!-- 반 nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
							<span class="hide-menu">반</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item">
								<a th:href="@{/grade-class/list}" class="sidebar-link">
									<span class="hide-menu"> 반 목록 </span>
								</a>
							</li>
						</ul>
					</li>
					
					<!-- 기록 Nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
							<span class="hide-menu">기록</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item">
								<a th:href="@{/log/employee}" class="sidebar-link">
									<span class="hide-menu"> 사원정보 변경 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/transfer}" class="sidebar-link">
									<span class="hide-menu"> 전근 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/rest}" class="sidebar-link">
									<span class="hide-menu"> 휴직 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/end}" class="sidebar-link">
									<span class="hide-menu"> 퇴직 기록 </span>
								</a>
							</li>
						</ul>
					</li>

				</ul>
			</nav>
			
				
		</div>
	</aside>
</th:block>
</html>