<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="noticeNavLayout">
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->

			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<!-- 공지사항 Nav -->
					<li class="sidebar-item selected">
						<a class="sidebar-link" th:href="@{/notice}" aria-expanded="false"> 
							<span class="hide-menu">공지사항</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</th:block>
</html>