<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="studentNavLayout">
	 <aside class="left-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <style>
        </style>
        <nav class="sidebar-nav">
          <ul id="sidebarnav">

            <li class="sidebar-item"> <a class="sidebar-link has-arrow" th:href="@{/student/list}"
                aria-expanded="false"><span class="hide-menu">학생 등록</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
              	<li class="sidebar-item"><a th:href="@{/student/list}" class="sidebar-link"><span class="hide-menu"> 학생 목록
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/student/create}" class="sidebar-link"><span class="hide-menu"> 학생 등록
                    </span></a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item"> <a class="sidebar-link has-arrow" th:href="@{/student/list}"
                aria-expanded="false"><span class="hide-menu">학생 기본 정보</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/student/list}" class="sidebar-link"><span class="hide-menu"> 학생 목록
                    </span></a>
                </li>
              </ul>
            </li>

			<li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">교육 평가</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/student/subject}" class="sidebar-link"><span class="hide-menu"> 과정 등록
                    </span></a>
                </li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><span class="hide-menu"> 성적 등록
                    </span></a>
                </li>
              </ul>
            </li>
            
            <li class="sidebar-item"> <a class="sidebar-link" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">생활기록부</span></a>
            </li>
            
            <li class="sidebar-item"> <a class="sidebar-link" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">학급별 통계</span></a>
            </li>
            
          </ul>
        </nav>
      </div>
    </aside>
</th:block>
</html>