<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/approve_layout}">
     
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSRF Token -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/MulMang_logo.png}">
	<title>물망초등학교</title>
	<!-- Custom CSS -->
	<link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	
    <!-- jQuery는 최상단에서 한 번만 로드 -->
	<!-- jQuery 3.5.1 버전 로드 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- jsTree는 jQuery 이후에 로드 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>

	<!-- Bootstrap 및 다른 라이브러리 -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> 


<script>
    var $j = jQuery.noConflict();

    $j(document).ready(function() {
        // CSRF 토큰 가져오기
        var csrfToken = $j('meta[name="_csrf"]').attr('content');
        var csrfHeader = $j('meta[name="_csrf_header"]').attr('content');

        let targetCellId;

        $j('#openTreeButton1, #openTreeButton2, #openTreeButton3').click(function() {
            targetCellId = '#' + $j(this).attr('id').replace('openTreeButton', 'selectedNodesTable');
            $j('#treeModal').modal('show');
            initializeTree();
        });

        function initializeTree() {
            $j('#jstree_modal').jstree("destroy").empty();

            // API로부터 트리 데이터를 가져옴
            $j.ajax({
                url: '/api/emp-tree',
                method: 'GET',
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(data) {
                    // 트리 데이터 구성
                    const D1Data = D1(data.employees, data.teacherHistory);
                    const D2Data = D2(data.employees, data.teacherHistory);
                    const D3Data = D3(data.employees);
                    const D3J4Data = D3J4(data.employees);
                    const D4Data = D4(data.employees, data.teacherHistory);
                    const D4J4Data = D4J4(data.employees, data.teacherHistory);

                    $j('#jstree_modal').jstree({
                        'core': {
                            'data': Object.keys(D1Data).length !== 0 
                                ? D1Data : Object.keys(D2Data).length !== 0
                                    ? D2Data : Object.keys(D3Data).length !== 0 
                                        ? [...D3Data, ...D4Data] : Object.keys(D3Data).length !== 0
                                            ? [...D3J4Data, ...D4Data] : Object.keys(D4Data).length !== 0
                                                ? [...D3Data, ...D4J4Data] : Object.keys(D3Data).length !== 0 && Object.keys(D4Data).length !== 0
                                                    ? [...D3J4Data, ...D4J4Data] : [],
                            "themes": {
                                "responsive": false
                            },
                            'multiple': true
                        },
                        "types": {
                            "default": {
                                "icon": "fas fa-user" // 아이콘 변경
                            }
                        },
                        "plugins": ["types", "checkbox"], // 체크박스 플러그인 활성화
                        "checkbox": {
                            "keep_selected_style": false,
                            "three_state": false,
                            "cascade": ""
                        }
                    }).on("select_node.jstree", function (e, data) {
                        // 학년 노드 클릭 시 자식 노드 선택
                        if (data.node.text.includes('학년')) {
                            $j('#jstree_modal').jstree('select_node', data.node.children_d);
                        }
                    }).on("deselect_node.jstree", function (e, data) {
                        // 학년 노드 해제 시 자식 노드도 해제
                        if (data.node.text.includes('학년')) {
                            $j('#jstree_modal').jstree('deselect_node', data.node.children_d);
                        }
                    });
                },
                error: function(error) {
                    console.error('Error fetching tree data:', error);
                }
            });
        }

        function getTeacherHistory(empId, teacherHistory) {
            const history = teacherHistory.find(t => t.teach_emp_id === empId);
            return history ? { grade: history.grade, grade_class: history.grade_class } : { grade: null, grade_class: null };
        }

        // 교장
        function D1(items, historys) {
            return items
                .filter(item => item.dept_code == 'D1')
                .map(item => {
                    return {
                        "text": item.dept_name + " " + item.emp_name +" ("+item.emp_id+")",
                        "state": { "opened": true },
                        "children": D2(items, historys)
                    };
                });
        }

        // 교감
        function D2(items, historys) {
            return items
                .filter(item => item.dept_code == 'D2')
                .map(item => {
                    return {
                        "text": item.dept_name + " " + item.emp_name +" ("+item.emp_id+")",
                        "state": { "opened": true },
                        "children": [...D3(items), ...D4(items, historys)]
                    };
                });
        }

        // 행정부장
        function D3(items) {
            return items
                .filter(item => item.dept_code == 'D3' && item.job_code == 'J3')
                .map(item => {
                    return {
                        "text": item.dept_name + "장 " + item.emp_name +" ("+item.emp_id+")",
                        "state": { "opened": true },
                        "children": D3J4(items)
                    };
                });
        }

        // 행정직원
        function D3J4(items) {
            return items
                .filter(item => item.dept_code == 'D3' && item.job_code == 'J4')
                .map(item => {
                    return {
                        "text": item.emp_name +" ("+item.emp_id+")",
                        "state": { "opened": false }
                    };
                })
                .sort((a, b) => a.text.localeCompare(b.text)); // 이름 순으로 정렬
        }

        // 교무부장
        function D4(items, historys) {
            return items
                .filter(item => item.dept_code == 'D4' && item.job_code == 'J3')
                .map(item => {
                    const history = getTeacherHistory(item.emp_id, historys);
                    return {
                        "text": item.dept_name + "장 " + item.emp_name +" ("+item.emp_id+")",
                        "state": { "opened": true },
                        "children": createGradeNodes(items, historys)
                    };
                });
        }

        // 학년별 노드를 생성하는 함수
        function createGradeNodes(items, historys) {
            const gradeNodes = [];

            // 학년별로 그룹화하여 노드 생성
            for (let grade = 1; grade <= 6; grade++) {
                const gradeNode = {
                    "text": grade + "학년",
                    "state": { "opened": true },
                    "children": D4J4(items, historys, grade) // 특정 학년의 교직원 목록을 가져옴
                };
                gradeNodes.push(gradeNode);
            }

            // 기타 노드 생성 (학년 정보가 없는 경우)
            const etcNode = {
                "text": "기타",
                "state": { "opened": true },
                "children": D4J4(items, historys, null) // 학년 정보가 없는 교직원 목록을 가져옴
            };
            gradeNodes.push(etcNode);

            return gradeNodes;
        }

        // 교무직원 목록을 가져오는 함수 (특정 학년 또는 기타)
        function D4J4(items, historys, grade) {
            return items
                .filter(item => item.dept_code == 'D4' && item.job_code == 'J4')
                .filter(item => {
                    const history = getTeacherHistory(item.emp_id, historys);
                    return grade === null ? history.grade == null : history.grade == grade; // 해당 학년이 맞는지 확인
                })
                .map(item => {
                    const history = getTeacherHistory(item.emp_id, historys);
                    const gradeYN = history.grade != null ? item.emp_name +" ("+item.emp_id+")" : item.emp_name +" ("+item.emp_id+")";
                    return {
                        "text": gradeYN,
                        "state": { "opened": false }
                    };
                })
                .sort((a, b) => {
                    const matchA = a.text.match(/\((\d+)-(\d+)\)/);
                    const matchB = b.text.match(/\((\d+)-(\d+)\)/);

                    const gradeA = matchA ? parseInt(matchA[1], 10) : null;
                    const gradeB = matchB ? parseInt(matchB[1], 10) : null;
                    const classA = matchA ? parseInt(matchA[2], 10) : null;
                    const classB = matchB ? parseInt(matchB[2], 10) : null;

                    if (gradeA !== null && gradeB !== null) {
                        if (gradeA === gradeB) {
                            return (classA !== null ? classA : 0) - (classB !== null ? classB : 0); // 학년이 같은 경우 반 순으로 정렬
                        } else {
                            return gradeA - gradeB; // 학년이 다른 경우 학년 순으로 정렬
                        }
                    } else if (gradeA !== null) {
                        return -1; // 두 값 중 하나가 null인 경우 학년이 있는 값 순으로 정렬
                    } else if (gradeB !== null) {
                        return 1; // 두 값 중 하나가 null인 경우 학년이 있는 값 순으로 정렬
                    } else {
                        return a.text.localeCompare(b.text); // 두 값이 null이면 이름 순으로 정렬
                    }
                });
        }

        // 부모 노드 클릭 시 아무런 동작도 하지 않도록 설정
        $j('#jstree_modal').on("select_node.jstree", function(e, data) {
            if (data.node.type === "non_selectable") {
                data.instance.deselect_node(data.node);
            }
        });

        $j('#confirmSelection').click(function() {
            var selectedNodes = $j('#jstree_modal').jstree("get_selected", true);
            var names = selectedNodes.map(function(node) {
                return node.text;
            });

            if (Array.isArray(names)) {
                $j(targetCellId).val(names.join('>')); // 선택한 노드들의 텍스트를 조합하여 표시
            } else {
                console.error("names is not an array:", names);
            }

            $j('#treeModal').modal('hide');
        });
    });
</script>



</head>

     
<th:block layout:fragment="content">

			<!-- ============================================================== -->
			<!-- End Left Sidebar - style you can find in sidebar.scss  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Page wrapper  -->
			<!-- ============================================================== -->
			<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">휴가 신청</h3>
							<hr>
								<div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
                
                
           <div class="container">
     		   <form id="approCreateFrm">
     		   <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
     			   <h2 class="text-center">휴가 신청서</h2>
				        <table class="table table-bordered">
				            <tbody>
				                <tr>
				                    <td>성명</td>
				                    <td><input type="text" name="emp_name" th:value="${#authentication.principal.dto.emp_name}" readonly style="border: 0; outline: none;"></td>	
				                    <td>부서</td>
				                    <td>
									    <input type="text" name="dept_name" th:value="${#authentication.principal.dto.dept_name}" readonly style="border: 0; outline: none;">
									    <!-- 숨겨진 필드로 dept_code 값을 유지 -->
									    <input type="hidden" name="dept_code" th:value="${#authentication.principal.dto.dept_code}">
									</td>
				                </tr>
				                <tr>
				                    <td>직원번호</td>
				                    <td><input type="text" name="emp_id" th:value="${#authentication.principal.dto.emp_id}" readonly style="border: 0; outline: none;"></td>
				                    <td>직급</td>
									<td>
									    <input type="text" name="job_name_display" 
									           th:value="${#authentication.principal.dto.job_code == 'J1' ? '교장' : 
									                       #authentication.principal.dto.job_code == 'J2' ? '교감' :
									                       #authentication.principal.dto.job_code == 'J3' ? '부장' : '직원'}"
									           readonly style="border: 0; outline: none;">
									    <!-- 실제 job_code를 숨겨진 필드로 추가 -->
									    <input type="hidden" name="job_code" th:value="${#authentication.principal.dto.job_code}">
									</td>

				                </tr>
				                <tr>
				                	<td>제목</td>
				                    <td colspan="3"><input type="text" id="appro_title" name="appro_title" class="form-control"></td>
				                </tr>
				                <tr>
				                    <td>종류</td>
				                    <td colspan="3">
				                    <div style="display: flex; gap: 15px; justify-content: space-evenly; align-items: center;">
				                        <div><label><input type="radio" name="vac_type" value="0"> 연차</label></div>
				                        
				                        <div><label><input type="radio" name="vac_type" value="6"> 오전반차</label></div>
				                		<div><label><input type="radio" name="vac_type" value="7"> 오후반차</label></div>
				                        
				                        <div><label><input type="radio" name="vac_type" value="1"> 공가</label></div>
				                        <div><label><input type="radio" name="vac_type" value="2"> 병가</label></div>
				                        <div><label><input type="radio" name="vac_type" value="3"> 조퇴</label></div>
				                        <div><label><input type="radio" name="vac_type" value="4"> 경조사</label></div>
				                        <div><label><input type="radio" name="vac_type" value="5"> 출산휴가</label></div>
				                        </div>
				                    </td>
				                </tr>
				                <tr>
				                	<td>일정</td>
				                	<td colspan="3">
				                	<div style="display: flex; gap: 15px; justify-content: space-evenly; align-items: center;">
				                	<div><input type="date" id="start_date" class="form-control" name="start_date"></div>
				                	<div><span>~</span></div>
				                	<div><input type="date" id="end_date" class="form-control" name="end_date"></div>
				                	</div>
				                	</td>
				                </tr>
				                <tr>
				                <td>신청사유</td>
				                <td colspan="3"><textarea class="form-control" rows="10" style="resize: none" name="appro_content"></textarea></td>
				                </tr>
				                <tr>
				                <td>참고사항</td>
				                <td colspan="3">*공가 - 예비군 /민방위의 경우 사후에 참석증을 반드시 제출부탁드립니다.<br>
												*병가 - 연 25회 초과시 무급휴가로 전환 됩니다.<br>
												*경조사 - 사전/사후에 행사일을 증명할 수 있는 서류 제출부탁드립니다.<br>
												*명시된 결재자의 순서에 따라 결재라인이 생성됩니다. (대분류는 협의 > 결재 순)
										</td>
					                </tr>
					          	<tr>
					             <td colspan="4">
					             <div style="text-align: center;"><h4>상기와 같이 휴가를 신청하오니 검토 후 승인하여 주시기 바랍니다.</h4></div>
					             <br><br>
					             <h1 style="text-align: center;">물망초등학교</h1>
					             
					             </td>
					           </tr>
				                <tr>
					                <td>협의자</td>
					                <td colspan="3"><button id="openTreeButton1" class="btn btn-primary" type="button">+</button>
					                <input type="text" name="consult" id="selectedNodesTable1" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
					                </td>
				                </tr>
				                <tr>
					                <td>결재자</td>
									<td colspan="3">
									    <button id="openTreeButton2" class="btn btn-primary" type="button">+</button>
									    <input type="text" name="approval" id="selectedNodesTable2" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
									</td>
				                </tr>
				                <tr>
				                	<td>참조자</td>
				                	<td colspan="3"><button id="openTreeButton3" class="btn btn-primary" type="button">+</button>
				                	<input type="text" name="reference" id="selectedNodesTable3" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
				                	</td>
				                </tr>
				                <tr>
					                <td>첨부파일</td>
					                <td colspan="3"><input type="file" name="file_name"></td>
				                </tr>
            				</tbody>
       					 </table>
					        <div style= "display: flex; justify-content: space-between; align-items: center;">
						        <div class="text-center mt-3">
						        	<input type="button" value="목록" id="returnList" class="btn btn-success"></button>
						        </div>
						   
						        <div class="text-center mt-3">
						            <button type="button" id="saveBtn" class="btn btn-primary">임시 저장</button>
									<button type="submit" id="submitBtn" class="btn btn-success" >결재 요청</button>
						        </div>
					        </div>
					        </form>
					    </div>
							    <!-- 트리 모달창 -->
							    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel" aria-hidden="true">
							        <div class="modal-dialog" role="document">
							            <div class="modal-content">
							                <div class="modal-header">
							                    <h5 class="modal-title" id="treeModalLabel">Select Nodes</h5>
							                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                        <span aria-hidden="true">&times;</span>
							                    </button>
							                </div>
							                <div class="modal-body">
							                    <!-- 트리가 렌더링될 영역 -->
							                    <div id="jstree_modal"></div>
							                </div>
							                <div class="modal-footer">
							                    <button type="button" class="btn btn-primary" id="confirmSelection">확인</button>
							                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">닫기</button>
							                </div>
							            </div>
							        </div>
							    </div>
          					</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<!-- Bootstrap tether Core JavaScript -->
	
	<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<script src="dist/js/app-style-switcher.js"></script>
	<script src="dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> 
	<script src="assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="dist/js/custom.min.js"></script>
	
	 <script>
    
	 // 로컬 시간대로 현재 날짜와 시간을 포맷팅하는 함수
	    function formatDateToLocal(date) {
	        const year = date.getFullYear();
	        const month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
	        const day = String(date.getDate()).padStart(2, '0');
	        const hours = String(date.getHours()).padStart(2, '0');
	        const minutes = '00'; // 항상 00으로 고정
	        return `${year}-${month}-${day}T${hours}:${minutes}`;
	    }
	
	    // 로컬 시간대로 오늘 날짜를 포맷팅하는 함수
	    function formatDateOnly(date) {
	        const year = date.getFullYear();
	        const month = String(date.getMonth() + 1).padStart(2, '0');
	        const day = String(date.getDate()).padStart(2, '0');
	        return `${year}-${month}-${day}`;
	    }
    
    
	 // 조퇴 선택 시 일정에 시간까지 설정 가능하게 변환
	    function toggleDateInputType() {
	        const halfDay = document.querySelector('input[name="vac_type"][value="3"]').checked; // '조퇴'가 선택되었는지 확인
	        const startDate = document.getElementById('start_date');
	        const endDate = document.getElementById('end_date');

	        // 현재 로컬 날짜와 시간을 가져와 포맷팅
	        const now = new Date();
	        const today = formatDateToLocal(now); // 로컬 시간대로 포맷된 현재 날짜와 시간
	        const todayDateOnly = formatDateOnly(now); // 로컬 시간대로 포맷된 현재 날짜

	        if (halfDay) {
	            startDate.type = 'datetime-local';  // '조퇴'일 경우 datetime-local로 변경
	            endDate.type = 'datetime-local';

	            // datetime-local의 최소값을 오늘 날짜로 설정
	            startDate.min = today;
	            endDate.min = today;

	            startDate.value = today;
	            endDate.value = today;

	            // 날짜 선택 시 분을 항상 00으로 설정
	            startDate.addEventListener('input', () => {
	                const selectedDate = new Date(startDate.value);
	                selectedDate.setMinutes(0);
	                startDate.value = formatDateToLocal(selectedDate);
	            });

	            endDate.addEventListener('input', () => {
	                const selectedDate = new Date(endDate.value);
	                selectedDate.setMinutes(0);
	                endDate.value = formatDateToLocal(selectedDate);
	            });
	        } else {
	            startDate.type = 'date';  // 그렇지 않으면 date로 설정
	            endDate.type = 'date';

	            // date 타입의 최소값을 오늘 날짜로 설정
	            startDate.min = todayDateOnly;
	            endDate.min = todayDateOnly;
	        }
	    }

	    // 모든 'vac_type' 라디오 버튼에 이벤트 리스너를 추가
	    document.querySelectorAll('input[name="vac_type"]').forEach(function (radio) {
	        radio.addEventListener('change', toggleDateInputType);
	    });
	
	    // 목록으로 이동시 재 확인
	    $('#returnList').on('click', function() {
	    	Swal.fire({
	            title: '목록으로 이동하시겠습니까?',
	            text: '입력된 항목들이 삭제됩니다.',
	            icon: 'warning',
	            showCancelButton: true,
	            confirmButtonColor: '#5f76e8',
	            cancelButtonColor: '#e8eaec',
	            confirmButtonText: '이동',
	            cancelButtonText: '취소',
	            customClass: {
	                cancelButton: 'custom-cancel-button'
	            }
	        })
	    	.then((result) => {
	    		if(result.isConfirmed){
	    			window.location.href = '/approve';
	    		}
	    	})
	    })
	    
    </script>
	    
	<!-- 유효성검사 -->
    <script>
	    // 임시저장
    	document.getElementById('saveBtn').addEventListener('click', function () {
	        handleSave();  
	    });
	
	    // 승인 요청
	    document.getElementById('submitBtn').addEventListener('click', function (event) {
	        event.preventDefault(); 
	        handleSubmit();
	    });
    
    
	    function handleSave(){
	    	const form = document.getElementById('approCreateFrm');
	    	const formData = new FormData(form);
	    	const csrfToken = document.getElementById("csrf_token").value;
	    	
	    	if(form.appro_title.value == ""){
	    		Swal.fire({
	    			icon: 'error',
	    			title: '제목을 입력해주세요',
	    			confirmButtonText: '닫기'
	    		});
	    		return; 
	    	}
	    	fetch('/draftApprove',{
	    		method: 'POST',
	    		headers:{
	    			'X-CSRF-TOKEN':csrfToken
	    		},
	    		body: formData
	    	})
	    	.then(response => response.json())
	    	.then(data => {
	    		if(data.res_code == '200'){
	    			Swal.fire({
	    				icon: 'success',
	    				title: '성공',
	    				text: 'data.res_msg',
	    				confirmButtonText: "닫기"
	    			});
	    		}else{
	    			Swal.fire({
	    				icon: 'error',
	    				title: '실패',
	    				text: data.res_msg,
	    				confirmButtonText: "닫기"
	    			});
	    		}
	    	})
	    	.catch(error => {
	    		console.error('Error:',error);
	    	});
	    	
	    }
	    
	 // 결재 요청 유효성 검사 및 처리 함수
	    function handleSubmit() {
	        const form = document.getElementById('approCreateFrm'); 
	        const formData = new FormData(form); 
	        const csrfToken = document.getElementById("csrf_token").value; 

	        // 유효성 검사
	        if (form.appro_title.value == "") {
	            Swal.fire({
	                icon: 'error',
	                title: '제목을 입력해주세요',
	                confirmButtonText: "닫기"
	            });
	            return;
	        } else if (!document.querySelector('input[name="vac_type"]:checked')) {
	            Swal.fire({
	                icon: 'error',
	                title: '종류를 선택해주세요',
	                confirmButtonText: "닫기"
	            });
	            form.vac_type.focus();
	            return;
	        }  else if (form.start_date.value == "") {
	            Swal.fire({
	                icon: 'error',
	                title: '일정시작일을 입력해주세요',
	                confirmButtonText: "닫기"
	            });
	            form.start_date.focus();
	            return;
	        } else if (form.end_date.value == "") {
	            Swal.fire({
	                icon: 'error',
	                title: '일정종료일을 입력해주세요',
	                confirmButtonText: "닫기"
	            });
	            form.end_date.focus();
	            return;
	        } else if (form.appro_content.value == "") {
	            Swal.fire({
	                icon: 'error',
	                title: '신청사유를 입력해주세요',
	                confirmButtonText: "닫기"
	            });
	            form.appro_context.focus();
	            return;
	        } else if (form.approval.value == "") {
	            Swal.fire({
	                icon: 'error',
	                title: '결재자를 선택해주세요',
	                confirmButtonText: "닫기"
	            });
	            form.approval.focus();
	            return;
	        }

	        fetch('/approUp', {
	            method: 'POST',
	            headers: {
	                'X-CSRF-TOKEN': csrfToken 
	            },
	            body: formData
	        })
	        .then(response => response.json())
	        .then(data => {
	            if (data.res_code == '200') {
	                Swal.fire({
	                    icon: 'success',
	                    title: '성공',
	                    text: data.res_msg,
	                    confirmButtonText: "닫기"
	                }).then(() => {
	                    location.href = "/";
	                });
	            } else {
	                Swal.fire({
	                    icon: 'error',
	                    title: '실패',
	                    text: data.res_msg,
	                    confirmButtonText: "닫기"
	                });
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error); 
	        });
	    }
	</script>

</th:block>
</html>