<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/approve_layout}">
     
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSRF Token -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/MulMang_logo.png}">
	<title>물망초등학교</title>
	<!-- Custom CSS -->
	<link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	
    <!-- jQuery는 최상단에서 한 번만 로드 -->
	<!-- jQuery 3.5.1 버전 로드 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- jsTree는 jQuery 이후에 로드 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>

	<!-- Bootstrap 및 다른 라이브러리 -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> 


	<script>
	        var $j = jQuery.noConflict();
	
	        $j(document).ready(function() {
	            // CSRF 토큰 가져오기
	            var csrfToken = $j('meta[name="_csrf"]').attr('content');  
	            var csrfHeader = $j('meta[name="_csrf_header"]').attr('content');
	
	            let targetCellId;
	
	            $j('#openTreeButton1, #openTreeButton2, #openTreeButton3').click(function() {
	                targetCellId = '#' + $j(this).attr('id').replace('openTreeButton', 'selectedNodesTable');
	                $j('#treeModal').modal('show');
	                initializeTree();
	            });
	
	            function initializeTree() {
	                $j('#jstree_modal').jstree("destroy").empty();
	
	                // API로부터 트리 데이터를 가져옴
	                $j.ajax({
	                    url: '/api/tree-data',
	                    method: 'GET',
	                    dataType: 'json', // 데이터를 JSON 형식으로 가져옴
	                    beforeSend: function(xhr) {
	                        xhr.setRequestHeader(csrfHeader, csrfToken); // CSRF 토큰 설정
	                    },
	                    success: function(data) {
	                        $j('#jstree_modal').jstree({
	                            'core': {
	                                'data': data
	                            },
	                            'plugins': ["checkbox", "types"],
	                            'types': {
	                                'non_selectable': {
	                                    'select_node': false,
	                                    'a_attr': { 'class': 'jstree-disabled' }
	                                }
	                            },
	                            'checkbox': {
	                                'keep_selected_style': false,
	                                'three_state': false,
	                                'cascade': 'none'
	                            }
	                        });
	                    },
	                    error: function(error) {
	                        console.error('Error fetching tree data:', error);
	                    }
	                });
	            }
	
	            // 부모 노드 클릭 시 아무런 동작도 하지 않도록 설정
	            $j('#jstree_modal').on("select_node.jstree", function(e, data) {
	                if (data.node.type === "non_selectable") {
	                    data.instance.deselect_node(data.node);
	                }
	            });
	
	            $j('#confirmSelection').click(function() {
	                var selectedNodes = $j('#jstree_modal').jstree("get_selected", true);
	                var names = selectedNodes.map(function(node) {
	                    return node.text;
	                });
	
	                $j(targetCellId).val(names.join('>'));
	
	                $j('#treeModal').modal('hide');
	            });
	        });
    </script>

</head>

     
<th:block layout:fragment="content">

			<!-- ============================================================== -->
			<!-- End Left Sidebar - style you can find in sidebar.scss  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Page wrapper  -->
			<!-- ============================================================== -->
			<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">보낸 결재함</h3>
							<hr>
								<div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
                
                
           <div class="container">
     		   <form id="approCreateFrm">
     		   <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
     			   <h2 class="text-center">휴가 신청서</h2>
				        <table class="table table-bordered">
				            <tbody>
				                <tr>
				                    <td>성명</td>
				                    <td><input type="text" name="emp_name" th:value="${#authentication.principal.dto.emp_name}" readonly style="border: 0; outline: none;"></td>	
				                    <td>부서</td>
				                    <td><input type="text" name="dept_code" th:value="${#authentication.principal.dto.dept_name}" readonly style="border: 0; outline: none;"></td>
				                </tr>
				                <tr>
				                    <td>직원번호</td>
				                    <td><input type="text" name="emp_id" th:value="${#authentication.principal.dto.emp_id}" readonly style="border: 0; outline: none;"></td>
				                    <td>직급</td>
									<td>
									    <input type="text" name="job_code" 
									           th:if="${#authentication.principal.dto.dept_name == '행정부' && #authentication.principal.dto.job_name == '부장'}"
									           value="행정부장" readonly style="border: 0; outline: none;">
									    <input type="text" name="job_code" 
									           th:if="${#authentication.principal.dto.dept_name == '행정부' && #authentication.principal.dto.job_name != '부장'}"
									           value="행정직원" readonly style="border: 0; outline: none;">
									    <input type="text" name="job_code" 
									           th:if="${#authentication.principal.dto.dept_name == '교무부' && #authentication.principal.dto.job_name == '부장'}"
									           value="교무부장" readonly style="border: 0; outline: none;">
									    <input type="text" name="job_code" 
									           th:if="${#authentication.principal.dto.dept_name == '교무부' && #authentication.principal.dto.job_name != '부장'}"
									           value="교직원" readonly style="border: 0; outline: none;">
									</td>
				                </tr>
				                <tr>
				                	<td>제목</td>
				                    <td colspan="3"><input type="text" id="appro_title" name="appro_title" class="form-control"></td>
				                </tr>
				                <tr>
				                    <td>종류</td>
				                    <td colspan="3">
				                    <div style="display: flex; gap: 15px; justify-content: space-evenly; align-items: center;">
				                        <div><label><input type="radio" name="vac_type" value="0" onclick="toggleHalfDay(false)"> 연차</label></div>
				                        <div><label><input type="radio" name="vac_type" value="1" onclick="toggleHalfDay(true)"> 반차</label></div>
				                        <div><label><input type="radio" name="vac_type" value="2" onclick="toggleHalfDay(false)"> 공가</label></div>
				                        <div><label><input type="radio" name="vac_type" value="3" onclick="toggleHalfDay(false)"> 병가</label></div>
				                        <div><label><input type="radio" name="vac_type" value="4" onclick="toggleHalfDay(false)"> 조퇴</label></div>
				                        <div><label><input type="radio" name="vac_type" value="5" onclick="toggleHalfDay(false)"> 경조사</label></div>
				                        <div><label><input type="radio" name="vac_type" value="6" onclick="toggleHalfDay(false)"> 출산휴가</label></div>
				                        </div>
				                    </td>
				                </tr>
				                <tr>
				                	<td>반차</td>
				                	<td>
				                	<div style="display: flex; gap: 15px; justify-content: space-evenly; align-items: center;">
				                	<div><label><input type="radio" name="vac_type" value="7" id="half_one" disabled>오전</label></div>
				                	<div><label><input type="radio" name="vac_type" value="8" id="half_two" disabled>오후</label></div>
				                	</div>
				                	</td>
				                	<td>일정</td>
				                	<td>
								        <input type="date" id="start_date" class="form-control" name="start_date">
								        <input type="date" id="end_date" class="form-control" name="end_date">
								    </td>
				                </tr>
				                <tr>
				                <td>신청사유</td>
				                <td colspan="3"><textarea class="form-control" rows="10" style="resize: none" name="appro_content"></textarea></td>
				                </tr>
				                <tr>
				                <td>참고사항</td>
				                <td colspan="3">*공가 - 예비군 /민방위의 경우 사후에 참석증을 반드시 제출부탁드립니다.<br>
												*병가 - 연 25회 초과시 무급휴가로 전환 됩니다.<br>
												*경조사 - 사전/사후에 행사일을 증명할 수 있는 서류 제출부탁드립니다.<br>
												*명시된 결재자의 순서에 따라 결재라인이 생성됩니다. (대분류는 협의 > 결재 순)
										</td>
					                </tr>
					          	<tr>
					             <td colspan="4">
					             <div style="text-align: center;"><h4>상기와 같이 휴가를 신청하오니 검토 후 승인하여 주시기 바랍니다.</h4></div>
					             <br><br>
					             <h1 style="text-align: center;">물망초등학교</h1>
					             
					             </td>
					           </tr>
				                <tr>
					                <td>협의자</td>
					                <td colspan="3"><button id="openTreeButton1" class="btn btn-primary" type="button">+</button>
					                <input type="text" name="consult" id="selectedNodesTable1" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
				                </tr>
				                <tr>
					                <td>결재자</td>
									<td colspan="3">
									    <button id="openTreeButton2" class="btn btn-primary" type="button">+</button>
									    <input type="text" name="approval" id="selectedNodesTable2" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
									</td>
				                </tr>
				                <tr>
				                	<td>참조자</td>
				                	<td colspan="3"><button id="openTreeButton3" class="btn btn-primary" type="button">+</button>
				                	<input type="text" name="reference" id="selectedNodesTable3" readonly style="border: 0; outline: none; width: calc(100% - 50px);">
				                	</td>
				                </tr>
				                <tr>
					                <td>첨부파일</td>
					                <td colspan="3"><input type="file" name="file_name"></td>
				                </tr>
            				</tbody>
       					 </table>
					        <div style= "display: flex; justify-content: space-between; align-items: center;">
						        <div class="text-center mt-3">
						        	<input type="button" value="목록" id="returnList" class="btn btn-success"></button>
						        </div>
						   
						        <div class="text-center mt-3">
						            <button type="button" class="btn btn-primary">임시 저장</button>
									<button type="submit" class="btn btn-success" >결재 요청</button>
						        </div>
					        </div>
					        </form>
					    </div>
							    <!-- 트리 모달창 -->
							    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel" aria-hidden="true">
							        <div class="modal-dialog" role="document">
							            <div class="modal-content">
							                <div class="modal-header">
							                    <h5 class="modal-title" id="treeModalLabel">Select Nodes</h5>
							                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                        <span aria-hidden="true">&times;</span>
							                    </button>
							                </div>
							                <div class="modal-body">
							                    <!-- 트리가 렌더링될 영역 -->
							                    <div id="jstree_modal"></div>
							                </div>
							                <div class="modal-footer">
							                    <button type="button" class="btn btn-primary" id="confirmSelection">확인</button>
							                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">닫기</button>
							                </div>
							            </div>
							        </div>
							    </div>
          					</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<!-- Bootstrap tether Core JavaScript -->
	
	<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<script src="dist/js/app-style-switcher.js"></script>
	<script src="dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script> 
	<script src="assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="dist/js/custom.min.js"></script>
	
	 <script>
	<!-- 반차 선택시 오전/오후 선택기능 활성화 -->
    function toggleHalfDay(enable) {
        document.getElementById("half_one").disabled = !enable;
        document.getElementById("half_two").disabled = !enable;
    }

    // 조퇴 선택시 일정에 시간까지 설정 가능하게 변환
    function toggleDateInputType() {
        const halfDay = document.querySelector('input[name="vac_type"][value="4"]').checked; // '조퇴'가 선택되었는지 확인
        const startDate = document.getElementById('start_date');
        const endDate = document.getElementById('end_date');

        if (halfDay) {
            startDate.type = 'datetime-local';  // '조퇴'일 경우 datetime-local로 변경
            endDate.type = 'datetime-local';
        } else {
            startDate.type = 'date';  // 그렇지 않으면 date로 설정
            endDate.type = 'date';
        }
    }

	    // 모든 'vac_type' 라디오 버튼에 이벤트 리스너를 추가
	    document.querySelectorAll('input[name="vac_type"]').forEach(function (radio) {
	        radio.addEventListener('change', toggleDateInputType);
	    });
	
	    // 목록으로 이동시 재 확인
	    $('#returnList').on('click', function() {
	    	Swal.fire({
	            title: '목록으로 이동하시겠습니까?',
	            text: '입력된 항목들이 삭제됩니다.',
	            icon: 'warning',
	            showCancelButton: true,
	            confirmButtonColor: '#5f76e8',
	            cancelButtonColor: '#e8eaec',
	            confirmButtonText: '이동',
	            cancelButtonText: '취소',
	            customClass: {
	                cancelButton: 'custom-cancel-button'
	            }
	        })
	    	.then((result) => {
	    		if(result.isConfirmed){
	    			window.location.href = '/approve';
	    		}
	    	})
	    })
	    
    </script>
	    
	<!-- 유효성검사 -->
    <script>
    
    	let valiCount = 0;
    
	    const form = document.getElementById("approCreateFrm");

	    form.addEventListener('submit', (e) => {
	        e.preventDefault();  
	
	        let vali_check = false;
	        let vali_text='';
	
	        if (form.appro_title.value == "") {
	        	Swal.fire({
					icon:'error',
					title:'제목을 입력해주세요',
					confirmButtonText:"닫기"
				});
	        } else if (!document.querySelector('input[name="vac_type"]:checked')){
	        	Swal.fire({
					icon:'error',
					title:'종류를 선택해주세요',
					confirmButtonText:"닫기"
				});
	        	form.vac_type.focus()
	        } else if (document.querySelector('input[name="vac_type"]:checked').value === "1" && 
	                 !document.getElementById("half_one").checked && 
	                 !document.getElementById("half_two").checked) {
	        	Swal.fire({
					icon:'error',
					title:'오전/오후를 선택해주세요',
					confirmButtonText:"닫기"
				});
	        	document.getElementById("half_one").focus();
	            
	        } else if (form.start_date.value == ""){
	        	Swal.fire({
					icon:'error',
					title:'일정시작일을 입력해주세요',
					confirmButtonText:"닫기"
				});
	        	form.start_date.focus()
	        } else if (form.end_date.value == ""){
	        	Swal.fire({
					icon:'error',
					title:'일정종료일을 입력해주세요',
					confirmButtonText:"닫기"
				});
	        	form.end_date.focus()
	        } else if (form.appro_context.value == ""){
	        	Swal.fire({
					icon:'error',
					title:'신청사유를 입력해주세요',
					confirmButtonText:"닫기"
				});
	        	form.appro_context.focus()
	        } else if (form.approval.value == ""){
	        	Swal.fire({
					icon:'error',
					title:'결재자를 선택해주세요',
					confirmButtonText:"닫기"
				});
	        	form.approval.focus()
	        } else {
	        	vali_check = true;
	        }
	        
	        if(vali_check) {
	        	const payload = new FormData(form);
				const csrfToken = document.getElementById("csrf_token").value;
				fetch('/approUp',{
					method:'POST',
					headers : {
						'X-CSRF-TOKEN': csrfToken
					},
					body:payload
				})
				.then(response => response.json())
				.then(data=>{
					console.log('data:', data);
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기"
						}).then((result)=>{
							location.href="/";
						});
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기"
						});
					}
				}).catch(error => {
			        console.error('Error:', error);
			  });
			}
		})
	</script>

    
    
	
</th:block>
</html>