<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/approve_layout}">
     
     <head>
    <!-- This page plugin CSS -->
    <link href="/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
<style>
		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		  margin: 2px 0;
		  white-space: nowrap;
		  justify-content: center;
		}	
	</style>

</head>


<th:block layout:fragment="content">

		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">결재 대기함</h3>
							<hr>
							
							
							<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
		                        <div class="row mb-2">
		                        	
	                            </div>
                                <div class="table-responsive">
                                    <table id="approve_config" class="table table-hover table-bordered no-wrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>제목</th>
                                                <th>기안일</th>
                                                <th>기안자</th>
                                                <th>진행상황</th>
                                                <th>휴가유형</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 게시글이 없는 경우 -->
                                        <th:block th:if="${#lists.isEmpty(approvalList)}">
                                        	<tr>
                                        			<td colspan="5">요청된 결재건이 없습니다.</td>
                                        	</tr>
                                        </th:block>
                                        
                                        <!-- 게시글이 존재하는 경우 -->
                                        <th:block th:if="${!#lists.isEmpty(approvalList)}">
                                        	<tr th:each="approve, approveStat : ${approvalList}">
                                        		<td>
                                        		 <a th:href="@{docuDetail/{no}(no=${approve.appro_no})}" th:text = "${approve.appro_title}"></a>
                                        		</td>
                                        		<td th:text="${approve.appro_time}"></td>
                                        		<td th:text="${approve.appro_name}"></td>
                                        		<td th:switch="${approve.appro_status}">
												    <span th:case="0">결재대기중</span>
												    <span th:case="1">완료</span>
												    <span th:case="2">반려</span>
												</td>
												<td th:text ="${approve.vac_type}"></td>
                                        	</tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
				            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	
	
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="dist/js/app-style-switcher.js"></script>
	<script src="dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="dist/js/custom.min.js"></script>
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
    
    	
</th:block>
</html>