<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/approve_layout}">
     
 <head>
    <!-- This page plugin CSS -->
    <link th:href="@{/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">


</head>


<th:block layout:fragment="content">

		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">보고서 상세</h3>
							<hr>
							
							<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
                <div class="container">
                                <form id="approReUpFrm">
                                    <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
                                    <h2 class="text-center">보&nbsp;&nbsp;고&nbsp;&nbsp;서</h2>
										<br>
										<div style="display: flex; justify-content: flex-end; align-items: flex-start;">
										
										    <!-- 협의 영역 -->
										    <div th:if="${cDto != null and #lists.size(cDto) > 0}">
										        <table border="1" style="text-align: center; width: 120px;">
										            <tr>
										            <td rowspan="3">협의</td>
										                <th:block th:each="item : ${cDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[0] : '직원'}"></td>
										                </th:block>
										            </tr>
										            <tr>
										                <th:block th:each="item : ${cDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[1] : item.appro_line_name}"></td>
										                </th:block>
										            </tr>
										            <tr>
										                <th:block th:each="item : ${cDto}">
										                <td>
										                    <span th:if="${item.appro_line_sign == '반려'}" style="color: red;">반려</span>
										                    <span th:if="${item.appro_line_sign != null and item.appro_line_sign != '' and item.appro_line_sign != '반려'}">
										                        <img th:src="@{'/signatures/' + ${item.appro_line_sign}}" alt="서명 이미지" style="max-width: 100px; max-height: 50px;"/>
										                    </span>
										                    <span th:if="${item.appro_line_sign == null or item.appro_line_sign == ''}">-</span>
										                </td>
										            </th:block>
										            </tr>
										        </table>
										    </div>
										    <div>
										    	<table>
										    	<tr><td></td><td></td><td></td><td></td></tr>
										    	</table>
										    </div>
										    <!-- 결재 영역 -->
										    <div>
										        <table border="1" style="text-align: center; width: 250px;">
										            <tr>
										            <td rowspan="3">결재</td>
										                <th:block th:each="item : ${lDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[0] : '직원'}"></td>
										                </th:block>
										            </tr>
										            
										            <tr>
										                <th:block th:each="item : ${lDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[1] : item.appro_line_name}"></td>
										                </th:block>
										            </tr>
										
										            <tr>
										                <th:block th:each="item : ${lDto}">
										                <td>
										                    <span th:if="${item.appro_line_sign == '반려'}" style="color: red;">반려</span>
										                    <span th:if="${item.appro_line_sign != null and item.appro_line_sign != '' and item.appro_line_sign != '반려'}">
										                        <img th:src="@{'/signatures/' + ${item.appro_line_sign}}" alt="서명 이미지" style="max-width: 100px; max-height: 50px;"/>
										                    </span>
										                    <span th:if="${item.appro_line_sign == null or item.appro_line_sign == ''}">-</span>
										                </td>
										            </th:block>
										            </tr>
										        </table>
										    </div>
										</div>
										<br>
                                    
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>성명</td>
                                                <input type="hidden" id="approNoHidden" name="appro_no" th:value="${aDto.appro_no}">
                                                <td><input type="text" name="appro_name" th:value="${aDto.appro_name}" readonly style="border: 0; outline: none;"></td>
                                                <td>직원번호</td>
                                                <td><input type="text" id="empId" name="emp_id" th:value="${aDto.emp_id}" readonly style="border: 0; outline: none;"></td>
                                                <input type="hidden" id="principalId" name="principalId" th:value="${#authentication.principal.dto.emp_id}">
                                            </tr>
                                            <tr>
                                                <td>부서</td>
                                                <td>
                                                    <input type="text" name="dept_name_display" 
                                                    		th:value="${aDto.dept_code == 'D1' ? '교장' :
			                                                    		aDto.dept_code == 'D2' ? '교감'	:
			                                                    		aDto.dept_code == 'D3' ? '행정부' : '교무부'}" 
			                                                    		readonly style="border: 0; outline: none;">
                                                    <input type="hidden" id="deptCode" name="dept_code" th:value="${aDto.dept_code}">
                                                </td>
                                                <td>직급</td>
                                                <td>
                                                    <input type="text" name="job_name_display" 
                                                           th:value="${aDto.job_code == 'J1' ? '교장' : 
                                                                       aDto.job_code == 'J2' ? '교감' :
                                                                       aDto.job_code == 'J3' ? '부장' : '직원'}"
                                                           readonly style="border: 0; outline: none;">
                                                    <input type="hidden" id="jobCode" name="job_code" th:value="${aDto.job_code}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>제목</td>
                                                <td><input type="text" id="appro_title" name="appro_title" class="form-control" th:value="${aDto.appro_title}" readonly style="border: 0; outline: none;"></td>
                                                <td>결재 상태</td>
                                                <td><input type="text" id="appro_status" name="appro_status" class="form-control" 
                                                            th:value="${aDto.appro_status == 0 ? '결재진행중' :
                                                                        aDto.appro_status == 1 ? '승인' : '반려'}" 
                                                            readonly style="border: 0; outline: none;"></td>
                                            </tr>
											        <input type="hidden" id="appro_content_hidden" th:value="${aDto.appro_content}">
                                                <tr>
												    <td colspan="4">
												        <div id="docuContent"></div> 
												    </td>
												</tr>
												<tr>
												    <td colspan="4">
												        <div id="docuContent" th:utext="${aDto.appro_content}"></div>
												    </td>
												</tr>
                                            <tr>
                                                <td>반려사유</td>
                                                <td colspan="3">
											        <span th:if="${backReason != null}">
											            <span th:text="${backReason.appro_line_name+'('+backReason.emp_id+')'+'  -  '+ backReason.reason_back}"></span>
											        </span>
											        <span th:if="${backReason == null}"></span>
                                                </td>
                                            </tr>
								                <tr>
											    <td>협의자</td>
											    <td colspan="3">
											        <span th:if="${cDto != null}">
											            <th:block th:each="item, iterStat : ${cDto}">
											                <span th:text="${item.appro_line_name + ' (' + item.emp_id + ')'}"></span>
											                <span th:if="${!iterStat.last}"> > </span>
											            </th:block>
											        </span>
											    </td>
												</tr>
												<tr>
												    <td>결재자</td>
												    <td colspan="3">
												        <span th:if="${lDto != null}">
												            <th:block th:each="item, iterStat : ${lDto}">
												                <span th:text="${item.appro_line_name + ' (' + item.emp_id + ')'}"></span>
												                <span th:if="${!iterStat.last}"> > </span>
												            </th:block>
												        </span>
												    </td>
												</tr>
                                            <tr>
                                                <td>첨부파일</td>
                                                <td colspan="3">
                                                	<input type="file" name="file_name"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="text-center mt-3">
                                            <!-- 목록으로 이동 -->
                                            <input type="button" value="목록" th:onclick="'history.back()'" class="btn btn-success">
                                        </div>
                                        <div style="display: flex; justify-content: flex-end; align-items: center;">
                                        <div class="text-center mt-3" 
										     th:if="${aDto.appro_status == 0} and (${aDto.emp_id} == ${#authentication.principal.dto.emp_id})">
										    <button type="button" class="btn btn-danger delete_board_button"
										            th:onclick="|approDelete(${aDto.appro_no})|">삭제</button>	
										    <button type="button" class="btn btn-primary update_board_button"
										            th:onclick="|location.href='/docuUpdate/' + ${aDto.appro_no}|">수정</button>
										</div>
										<div class="text-center mt-3"
										     th:if="${#lists.contains(lDto.?[appro_line_status == 1].![emp_id], #authentication.principal.dto.emp_id)} or
										            ${#lists.contains(cDto.?[appro_line_status == 1].![emp_id], #authentication.principal.dto.emp_id)}">
										    <button id="backApproveBtn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#backApprove">반려</button>
										    <button id="agreeApproveBtn" type="button" class="btn btn-primary update_board_button" data-toggle="modal" data-target="#agreeApprove">승인</button>
										</div>
										</div>
                                    </div>
                                </form>
                            </div>
                            <!-- 반려시 사용할 모달 -->
									<div class="modal fade" id="backApprove" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel" aria-hidden="true">
									    <div class="modal-dialog" role="document">
									        <div class="modal-content">
									            <div class="modal-header">
									                <h5 class="modal-title" id="backApproveLabel">반려 사유</h5>
									                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									                    <span aria-hidden="true">&times;</span>
									                </button>
									            </div>
									            <div class="modal-body">
									                <!-- 모달 내부 내용 -->
									                <input type="text" id="backReasonInput" class="form-control" placeholder="반려 사유를 입력하세요">
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-primary" id="confirmBack">반려</button>
									                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
									            </div>
									        </div>
									    </div>
									</div>
									<!-- 승인시 사용할 모달 -->
									<div class="modal fade" id="agreeApprove" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel" aria-hidden="true">
									    <div class="modal-dialog" role="document">
									        <div class="modal-content">
									            <div class="modal-header">
									                <h5 class="modal-title" id="agreeApproveLabel">승인 서명</h5>
									                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									                    <span aria-hidden="true">&times;</span>
									                </button>
									            </div>
									            <!-- sign 정보가 있는 경우 -->
									            <div class="modal-body" th:if="${sDto != null and !sDto.isEmpty()}">
									                <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 20px;">
									                    <div th:each="sign : ${sDto}" style="text-align: center;">
									                        <input type="radio" name="signSelection" th:value="${sign.new_pic_name}">
									                        <label>
									                            <img th:src="@{'/signatures/' + ${sign.new_pic_name}}" alt="서명 이미지" style="max-width: 100px; max-height: 50px;"/>
									                        </label>
									                    </div>
									                </div>
									            </div>
									            <!-- sign 정보가 없는 경우 -->
									            <div class="modal-body" th:if="${sDto == null or sDto.isEmpty()}">
									                <p style="text-align: center;">사용 가능한 서명이 없습니다.</p>
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-primary" id="confirmApprove" th:disabled="${sDto == null or sDto.isEmpty()}">승인</button>
									                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
									            </div>
									        </div>
									    </div>
									</div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
				            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	
	
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script>
    window.onload = function() {
        // hidden input의 값을 가져오기
        var approContent = document.getElementById('appro_content_hidden').value;
        
        // 가져온 값을 div에 삽입
        document.getElementById('docuContent').innerHTML = approContent;
    };
    // 승인시 문서 처리
    document.getElementById('confirmApprove').addEventListener('click',function(){
        const approNo =  document.getElementById('approNoHidden').value;
    	const empId =  document.getElementById('empId').value;
        const principalId = document.getElementById('principalId').value;
        const deptCode = document.getElementById('deptCode').value;
        const jobCode = document.getElementById('jobCode').value;
        const csrfToken = document.getElementById("csrf_token").value;
        const selectedSign = document.querySelector('input[name="signSelection"]:checked');
        
        if (!selectedSign) {
            alert("서명을 선택해주세요.");
            return;
        }
        
        const signImage = selectedSign.value;
        
        fetch('/agreeApprove', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken 
            },
            body: JSON.stringify({ approNo: approNo, empId:empId , principalId : principalId ,
            					deptCode : deptCode , jobCode : jobCode , signImage : signImage }) // 서버로 보낼 데이터
        })
        .then(response => response.json())
        .then(data => {
            if (data.res_code === '200') {
                Swal.fire({
                    icon: 'success',
                    title: '성공',
                    text: data.res_msg
                }).then((result) => {
                    location.reload();
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '오류',
                    text: data.res_msg,
                    confirmButtonText: '닫기'
                });
            }
        })
        .catch(error => {
            console.error('Error during fetch:', error);
        });
    });	
    
    
	// 반려사유 입력 모달
	document.getElementById('confirmBack').addEventListener('click', function () {
        const reasonBack = document.getElementById('backReasonInput').value;
        const empId =  document.getElementById('empId').value;
        const principalId = document.getElementById('principalId').value;
        const deptCode = document.getElementById('deptCode').value;
        const jobCode = document.getElementById('jobCode').value;
        const approNo =  document.getElementById('approNoHidden').value;

        if (reason.trim() === "") {
            alert("반려 사유를 입력해주세요.");
            return;
        }

        const csrfToken = document.getElementById("csrf_token").value; 

        fetch('/backApprove', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken 
            },
            body: JSON.stringify({ approNo: approNo, empId:empId ,reasonBack: reasonBack ,
            	principalId : principalId , deptCode : deptCode , jobCode : jobCode}) // 서버로 보낼 데이터
        })
        .then(response => response.json())
        .then(data => {
            if (data.res_code === '200') {
                Swal.fire({
                    icon: 'success',
                    title: '성공',
                    text: data.res_msg
                }).then((result) => {
                    location.reload();
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '오류',
                    text: data.res_msg,
                    confirmButtonText: '닫기'
                });
            }
        })
        .catch(error => {
            console.error('Error during fetch:', error);
        });
    });

	
    
    // 문서 삭제 
    const approDelete = function(approNo) {
        if (confirm("정말 삭제하시겠습니까?")) {
            const csrfToken = document.getElementById("csrf_token").value; // CSRF 토큰 가져오기

            fetch('/appro/' + approNo, {
                method: 'DELETE',
                headers: {
                    'X-CSRF-TOKEN': csrfToken // CSRF 토큰을 헤더에 추가
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.res_code == '200') {
                    Swal.fire({
                        icon: 'success',
                        title: '성공',
                        text: data.res_msg
                    }).then((result) => {
                        location.href = "/approve";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '오류',
                        text: data.res_msg,
                        confirmButtonText: '닫기'
                    });
                }
            }).catch(error => {
                console.error('Error during fetch:', error); // 오류 로그 추가
            });
        }
    }

	</script>
    	
</th:block>
</html>