<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbdevdeep.chat.mybatis.mapper.ChatMapper">
	<!-- 사용자가 참여중인 채팅방 목록을 조회 -->
	<select id="findAllByfromIdAndtoId" 
	parameterType="String" 
	resultType="com.dbdevdeep.chat.dto.CustomChatRoomDto">
		SELECT 
			cr.room_no, cmi.room_name, cr.last_chat, cr.last_time
		FROM 
			chat_member_status_history cmsh 
			JOIN chat_member_info cmi ON cmsh.member_id = cmi.member_id
			JOIN chat_room cr ON cmsh.room_no = cr.room_no
		WHERE 
			cmsh.member_id = #{emp_id} 
			AND cmsh.member_status IN (1, 3);
	</select>
	<!-- 사용자가 참여하고 있는 채팅방의 다른 참여자의 정보를 조회 -->
	<!-- 
		1. room_no = #{room_no}인 사용자 조회
		2. 중복 member_id가 있을 경우 change_timedmf DESC하여 가장 첫번째 결과만 조회
		3. 중복 제거된 결과의 member_status가 1, 3인 결과만 조회
		4. member_id가 #{emp_id}이 아닌 결과만 조회
		5. 결과값이 1개라면 employee e와 조인하여 new_pic_name 값 가져오기, 1개 이상이라면 null로 결과값 세팅하기
	-->
	<select id="otherMemberPic" parameterType="map" resultType="String">
	    WITH latest_status AS (
		    SELECT 
		        cmsh.member_id, 
		        cmsh.member_status, 
		        ROW_NUMBER() OVER(PARTITION BY cmsh.member_id ORDER BY cmsh.change_time DESC) AS rn
		    FROM 
		        chat_member_status_history cmsh
		    WHERE 
		        cmsh.room_no = #{room_no}
		)
		, filtered_status AS (
		    SELECT *
		    FROM latest_status
		    WHERE rn = 1
		      AND member_status IN (1, 3)
		      AND member_id != #{emp_id}
		)
		SELECT 
		    CASE 
		        WHEN COUNT(fs.member_id) = 1 THEN e.new_pic_name
		        ELSE NULL
		    END AS new_pic_name
		FROM filtered_status fs
		LEFT JOIN employee e ON fs.member_id = e.emp_id;
	</select>
</mapper>


		
		