<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbdevdeep.employee.mybatis.mapper.EmployeeVoMapper">
	<update id="updateLoginYn" parameterType="com.dbdevdeep.employee.vo.EmployeeVo">
		UPDATE `employee`
		SET login_yn = #{loginYn}
		<where>
			emp_id = #{empId}
		</where>
	</update>
</mapper>