<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/notice_layout}">
<th:block layout:fragment="content">
<style>
	/* disabled 전용 입력 필드 스타일 */
	input[type="text"][disabled] {
	    border: none; /* 테두리 제거 */
	    background-color: transparent; /* 배경색 투명으로 설정 */
	    outline: none; /* 포커스 시 외곽선 제거 */
	    color: #000; /* 텍스트 색상 설정 (예: 검정색) */
	    padding: 0; /* 기본 패딩 제거 */
	    font-size: inherit; /* 상속된 폰트 크기 사용 */
	}

</style>
<body>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                	<div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">공지사항 게시글 조회</h3>
                                <hr>
                                <!-- CSRF정보를 담은 히든 인풋 -->
								<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
                                <form id="noticeDetailForm" method="post" action="#">
                                	<div class="row form-group">
	                                    <div class="col-md-2">
	                                    	<small id="category_help" class="form-text text-muted">공지분류</small>
	                                        <input type="text" class="form-control" id="category_name"  
	                                        th:value="${dto.category_name}" disabled>
	                                    </div>
	                                    <div class="col-md-8">
	                                    	<small id="check_list_help" class="form-text text-muted">체크여부</small>
	                                    	<div class="row" >
		                                    	<div class="custom-control custom-checkbox col-md-2">
			                                        <input type="checkbox" class="custom-control-input" id="is_important" 
			                                        th:checked="${dto.is_important==1}" disabled>
				                                    <label class="custom-control-label mr-sm-3" for="is_important">상단 고정</label>
			                                	</div>
			                                	<div class="custom-control custom-checkbox col-md-2">
				                                    <input type="checkbox" class="custom-control-input" id="is_cmt" 
				                                    th:checked="${dto.is_cmt==1}" disabled>
				                                    <label class="custom-control-label" for="is_cmt">댓글 작성 허용</label>
			                                	</div>
	                                    	</div>
	                                    </div>
	                                    <div class="col-md-2">
	                                    	<small id="time_help" class="form-text text-muted">작성일시</small>
                                			<input type="text" class="form-control" id="reg_time"  
                                			th:value="${#temporals.format(dto.reg_time, 'yyyy.MM.dd HH:mm')}" disabled>
	                                    </div>
                                    </div>
                                	<div class="row form-group">
                                		<div class="col-md-10">
                                			<small id="title_help" class="form-text text-muted">제목</small>
	                               			<input type="text" class="form-control" id="notice_title" style="padding:1%;" 
	                               			th:value="${dto.notice_title}" disabled>
                                		</div>
                                		<div class=" col-md-2 ">
                                        	<small id="name_help" class="form-text text-muted">작성자</small>
                                			<input type="text" class="form-control" id="writer_name"  
                                			th:value="${dto.writer_name}" disabled>
                                			
                                		</div>
                                	</div>
                                	<hr>
                                	<div class="row form-group">
                                		<div class="col-md-12">
                                        	<small id="content_help" class="form-text text-muted">내용</small>
	                                		<!-- Create the editor container -->
											<div id="editor" style="height:30vh; border: none;">
											</div>
                                		</div>
                                	</div>
                                	<hr>
                                	<div class="row">
                                        <div class="col-md-11">
                                            <label class="form-control" for="notice_file">파일을 선택하세요.</label>
                                            <input type="file" class="custom-file-input" id="notice_file">
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn waves-effect waves-light btn-light m-1" type="button">첨부</button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="notice_no" name="notice_no" th:value="${dto.notice_no}">
                                    <input type="hidden" id="writer_no" name="writer_id" th:value="${dto.writer_id}">
                                    <input type="hidden" th:value="${dto.notice_content}" style="display: none" id="ori_content">
                                    <div class="row mb-2">
			                        	<div class="col-6 d-flex justify-content-start">
				                            <button type="button" class="btn btn-outline-secondary m-1" 
				                            onclick="location.href='/notice'">목록</button>
				                            
			                        	</div>
			                        	<th:block th:if="${dto.writer_id == readDto.emp_id}">
				                        	<div class="col-6 d-flex justify-content-end">
					                            <button type="button" class="btn waves-effect waves-light btn-light m-1" 
					                            onclick="deleteNotice()">삭제</button>
					                            <button type="button" class="btn waves-effect waves-light btn-primary m-1" 
					                            onclick="modNotice()">수정</button>
				                        	</div>
			                        	</th:block>
		                            </div>
                                </form>
                            </div>
                        </div>
                        
	                        <!-- 댓글창 생성여부 : false -->
							<th:block th:if="${dto.is_cmt==0}">
								<div class="card">
			                    	<div class="card-body">
			                    		<h4 class="card-title">댓글을 작성할 수 없는 게시글입니다.</h4>
			                    	</div>
			                    </div>
							</th:block>
							<!-- 댓글창 생성여부 : true -->
							<th:block th:if="${dto.is_cmt==1}">
								<div class="card">
			                    	<div class="card-body">
			                    		<h4 class="card-title">댓글</h4>
			                    		<hr>
										<div class="comment_list" id="comment_place" th:fragment="comment_place">
											<th:block th:if="${#lists.isEmpty(cmtDtoList)}">
	                                       		<!-- 댓글창 구역 -->
	                                       		<div class="card mb-4">
													<div class="card-body">
														<p>작성된 댓글이 없습니다.</p>
													</div>
												</div>
                                       		</th:block>
	                                       	<th:block th:if="${!#lists.isEmpty(cmtDtoList)}">
                                       			<th:block  th:each="cmt, cmtStat : ${cmtDtoList}">
		                                       		<th:block th:if="${cmt.is_delete == 1 and !#lists.isEmpty(cmt.childComments)}">
														<!-- 댓글 구역 -->
														<div class="card mb-4">
															<div class="card-body border rounded-2 m-3">
																<div class="d-flex justify-content-end">
									                        		<button type="button" class="btn btn-sm btn-outline-primary m-1" 
									                        		onclick="openReplyForm(this)">
									                        			대댓글
									                        		</button>
									                        	</div>
																<p>삭제된 댓글입니다.</p>
																<th:block th:if="${!#lists.isEmpty(cmt.childComments)}">
																	<th:block th:each="childCmt : ${cmt.childComments}">
																		<th:block th:if="${childCmt.is_delete == 0}">
																			<!-- 대댓글 구역 (테두리) -->
																			<div class="card-body border rounded-2 m-3 ml-5">
																				<!-- 메뉴버튼 -->
																				<div class="d-flex justify-content-end">
																					<th:block th:if="${childCmt.writer_id == readDto.emp_id}">
															                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
															                            th:onclick="'deleteComment(' + ${childCmt.cmt_no} + ')'">삭제</button>
															                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
															                            th:onclick="'modComment(' + ${childCmt.cmt_no} + ', this)'">수정</button>
													                        		</th:block>
													                        	</div>
																				<!-- 대댓글 내용 -->
																				<div class="edit-content-place">
																					<p th:text="${childCmt.cmt_content }"></p>
																					<div class="d-flex justify-content-between">
																						<div class="d-flex flex-row align-items-center">
																							<p class="small mb-0 ms-2" th:text="${childCmt.writer_name }"></p>
																						</div>
																						<div class="d-flex flex-row align-items-center">
																							<p class="small text-muted mb-0" 
																							th:text="${#temporals.format(childCmt.reg_time, 'yyyy.MM.dd HH:mm')}"></p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</th:block>
																	</th:block>
																</th:block>
																<!-- 대댓글 작성 -->
													            <div class="comment-form mt-3" style="display:none;">
													            	<input type="hidden" name="parent_cmt_no" th:value="${cmt.cmt_no}">
													            	<input type="hidden" name="reply_writer_id" th:value="${readDto.emp_id}">
													                <textarea class="form-control" placeholder="대댓글을 작성하세요" name="reply_content"
													                rows="3" style="resize:none;"></textarea>
													                <div class="d-flex justify-content-end">
																		<button class="btn btn-primary m-2" type="button" onclick="addReply(this);">대댓글 작성</button>
																	</div>
													            </div>
															</div>
														</div>
													</th:block>
													<th:block th:if="${cmt.is_delete == 0}">
														<!-- 댓글 카드 -->
														<div class="card mb-4">
															<!-- 댓글 구역 (테두리) -->
															<div class="card-body border rounded-2 m-3">
																<!-- 메뉴 버튼 -->
																<div class="d-flex justify-content-end">
																	<th:block th:if="${cmt.writer_id == readDto.emp_id}">
											                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
											                            th:onclick="'deleteComment(' + ${cmt.cmt_no} + ')'">삭제</button>
											                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
											                            th:onclick="'modComment(' + ${cmt.cmt_no} + ', this)'">수정</button>
									                        		</th:block>
									                        		<button type="button" class="btn btn-sm btn-outline-primary m-1" 
									                        		onclick="openReplyForm(this)">
									                        			대댓글
									                        		</button>
									                        	</div>
																<!-- 댓글 내용 -->
																<div class="edit-content-place">
																	<p th:text="${cmt.cmt_content }"></p>
																	<div class="d-flex justify-content-between">
																		<div class="d-flex flex-row align-items-center">
																			<p class="small mb-0 ms-2" th:text="${cmt.writer_name }"></p>
																		</div>
																		<div class="d-flex flex-row align-items-center">
																			<p class="small text-muted mb-0" 
																			th:text="${#temporals.format(cmt.reg_time, 'yyyy.MM.dd HH:mm')}"></p>
																		</div>
																	</div>
																</div>
																<th:block th:if="${!#lists.isEmpty(cmt.childComments)}">
																	<th:block th:each="childCmt : ${cmt.childComments}">
																		<th:block th:if="${childCmt.is_delete == 0}">
																			<!-- 대댓글 구역 (테두리) -->
																			<div class="card-body border rounded-2 m-3 ml-5">
																				<!-- 메뉴버튼 -->
																				<div class="d-flex justify-content-end">
																					<th:block th:if="${childCmt.writer_id == readDto.emp_id}">
															                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
															                            th:onclick="'deleteComment(' + ${childCmt.cmt_no} + ')'">삭제</button>
															                            <button type="button" class="btn btn-sm btn-outline-primary m-1" 
															                            th:onclick="'modComment(' + ${childCmt.cmt_no} + ', this)'">수정</button>
													                        		</th:block>
													                        	</div>
																				<!-- 대댓글 내용 -->
																				<div class="edit-content-place">
																					<p th:text="${childCmt.cmt_content }"></p>
																					<div class="d-flex justify-content-between">
																						<div class="d-flex flex-row align-items-center">
																							<p class="small mb-0 ms-2" th:text="${childCmt.writer_name }"></p>
																						</div>
																						<div class="d-flex flex-row align-items-center">
																							<p class="small text-muted mb-0" 
																							th:text="${#temporals.format(childCmt.reg_time, 'yyyy.MM.dd HH:mm')}"></p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</th:block>
																	</th:block>
																</th:block>
																<!-- 대댓글 작성 -->
													            <div class="comment-form mt-3" style="display:none;">
													            	<input type="hidden" id="reply_parent_cmt_no" name="parent_cmt_no" th:value="${cmt.cmt_no}">
													            	<input type="hidden" id="reply_writer_id" name="reply_writer_id" th:value="${readDto.emp_id}">
													                <textarea class="form-control" placeholder="대댓글을 작성하세요" name="reply_content" id="reply_cmt_content"
													                rows="3" style="resize:none;"></textarea>
													                <div class="d-flex justify-content-end">
																		<button class="btn btn-primary m-2" type="button" onclick="addReply(this);">대댓글 작성</button>
																	</div>
													            </div>
															</div>
															
														</div>
													</th:block>
												</th:block>
	                                       	</th:block>
										</div>
					                    <!-- 댓글 입력창 시작 -->
										<div data-mdb-input-init class="card-body  border rounded-2 m-3" id="edit_form">
											<a id="cmt_writer_name" name="cmt_writer_name" th:text="${readDto.emp_name}"></a>
											<input type="hidden" id="cmt_writer_id" name="cmt_writer_id" th:value="${readDto.emp_id}">
											<input type="hidden" id="parent_cmt_no" name="parent_cmt_no" th:value="null">
											<textarea id="cmt_content" name="cmt_content" class="form-control edit-text-value" 
											rows="3" style="resize:none;" placeholder="댓글을 입력하세요." ></textarea>
											<div class="d-flex justify-content-end">
												<button class="btn btn-primary m-2" type="button" onclick="addComment(this);">댓글 작성</button>
											</div>
										</div>
										<!-- 댓글 입력창 종료 -->
			                    	</div>
			                    </div>
							</th:block>
                        
					</div>                    
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    <!-- Include the Quill library -->
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
	<!-- ============================================================== -->
	<!-- Quill editor를 이용해 게시글 조회 --> 
    <script>

    // 에디터 초기화
    const quill = new Quill('#editor', {
    	readOnly: true,
		modules: {
			toolbar: false,
		},
		placeholder: '내용을 입력하세요.',
		theme: 'snow'
	});
    
 	// 기존에 작성한 글 내용
    const oriContentDelta = document.getElementById("ori_content").value;
    function loadSavedHtml() {
    	// JSON 문자열을 Delta 객체로 변환
        const delta = JSON.parse(oriContentDelta);
        // Delta 데이터를 Quill 에디터에 적용
        quill.setContents(delta);
   	}
    
	// 함수 호출
    loadSavedHtml();
    
    // 수정 폼 이동
    const modNotice = function(){
    	const noticeNo = document.getElementById('notice_no').value;
    	const url = '/notice/edit/' + encodeURIComponent(noticeNo);
    	window.location.href = url;
    }
    
 	// 게시글 삭제
    const deleteNotice = function(){
    	const noticeNo = document.getElementById("notice_no").value;
    	const csrfToken = document.getElementById("csrf_token").value;
    	
    	Swal.fire({
		      title: '삭제하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '확인',
		      cancelButtonText: '취소'
		    })
		    .then((result) => {
		    	if(result.isConfirmed){
					fetch('/notice/'+noticeNo,{
						method : 'delete',
						headers:{
							'X-CSRF-TOKEN': csrfToken
						}
					})
					.then(response => response.json())
					.then(data => {
						if(data.res_code == '200'){
							Swal.fire({
								icon :'success',
								title:'성공',
								text : data.res_msg,
								confirmButtonText : '닫기'
							}).then((result)=>{
								location.href="/notice";
							});
						} else{
							Swal.fire({
								icon:'error',
								title:'실패',
								text: data.res_msg,
								confirmButtonText : '닫기'
							});
						}
					})
				}
		    })
	
    }
	</script>
	<!-- 댓글 작성 -->
	<script>
	// 댓글 삭제(소프트 삭제)
	const deleteComment = function(cmtNo){
		
    	const csrfToken = document.getElementById("csrf_token").value;
    	const noticeNo = document.getElementById("notice_no").value;
    	
    	Swal.fire({
		      title: '삭제하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '확인',
		      cancelButtonText: '취소'
		    })
		    .then((result) => {
		    	if(result.isConfirmed){
					fetch('/delete/'+cmtNo,{
						method : 'post',
						headers:{
							'X-CSRF-TOKEN': csrfToken
						}
					})
					.then(response => response.json())
					.then(data => {
						if(data.res_code == '200'){
							Swal.fire({
								icon :'success',
								title:'성공',
								text : data.res_msg,
								confirmButtonText : '닫기'
							}).then((result)=>{
								// 작성 댓글 초기화
		  			        	document.getElementById('cmt_content').value = "";
		  			            // 댓글 리스트 갱신 함수 호출
		  			            refreshCommentSection(noticeNo);  // 게시글 번호를 인자로 넘김
							});
						} else{
							Swal.fire({
								icon:'error',
								title:'실패',
								text: data.res_msg,
								confirmButtonText : '닫기'
							});
						}
					})
				}
		    })
	}
	
	// 댓글 수정 폼
	const modComment = function(cmtNo, button){

    	const csrfToken = document.getElementById("csrf_token").value;
    	const writerId = document.getElementById("cmt_writer_id").value;
    	
    	
    	// 댓글 버튼의 상위 div인 card-body 내의 edit-content-place을 찾음
        const contentPlace = button.closest('.card-body').querySelector('.edit-content-place');

     	// fetch로 댓글 데이터를 조회
        fetch(`/comments/${cmtNo}`)
        .then(response => response.json())
        .then(data => {
            
            contentPlace.innerHTML =  `
            	<input type="hidden" id="edit_parent_cmt_no" value="${data.parent_cmt_no}">
            	<input type="hidden" id="edit_cmt_no" value="${data.cmt_no}">
            	<input type="hidden" id="edit_writer_id" value="${writerId}">
                <textarea class="form-control" placeholder="대댓글을 작성하세요" id="edit_cmt_content"
                rows="3" style="resize:none;">${data.cmt_content}</textarea>
                <div class="d-flex justify-content-end">
					<button class="btn btn-primary m-2" type="button" onclick="editComment();">수정하기</button>
				</div>
            `;
        })
        .catch(error => {
        	Swal.fire({
				icon:'error',
				title:'실패',
				text: "작업 중 문제가 발생하였습니다.",
				confirmButtonText : '닫기'
			});
        });

	}
	
	// 댓글 수정 제출
	const editComment = function(){
		const noticeNo = document.getElementById('notice_no').value;
		const cmtNo = document.getElementById('edit_cmt_no').value;
		const cmtContent = document.getElementById('edit_cmt_content').value;
		const csrfToken = document.getElementById("csrf_token").value;
		
		// 데이터를 json화
			const commentData = {
					notice_no: noticeNo,
				    cmt_no: cmtNo,
				    cmt_content: cmtContent
				};
			// JSON 문자열로 변환
			const commentJSON = JSON.stringify(commentData);
			
			// fetch
			fetch(`/comments/${cmtNo}`,{
				method:'post',
  				headers:{
  					"Content-Type": "application/json;charset=utf-8",
  					"Accept": "application/json",
  					'X-CSRF-TOKEN': csrfToken
  				},
  				body:commentJSON
			})
			.then(response=>response.json())
			.then(data=>{
				if(data.res_code == '200'){
				// 성공 시 댓글 리스트를 비동기적으로 새로고침
			        Swal.fire({
			            icon: 'success',
			            title: '성공',
			            text: data.res_msg
			        }).then(() => {
			            // 댓글 리스트 갱신 함수 호출
			            refreshCommentSection(data.notice_no);  // 게시글 번호를 인자로 넘김
			        });
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg
					});
				}
			})
		
		
		
	}
	
	// 댓글 작성
    const addComment = function(){
		const noticeNo = document.getElementById('notice_no').value;
		const cmtWriterId = document.getElementById('cmt_writer_id').value;
		const cmtContent = document.getElementById('cmt_content').value.trim();
		
		// 댓글 유효성 검사
		let vali_check = false;
		let vali_text ="";
	    		
		if(cmtContent==""){
			vali_text += "내용을 입력하세요.";
			document.getElementById('cmt_content').focus();
			// alert(vali_text);
		}else{
			vali_check = true;
		}
		
		
		if(vali_check == false){
   			// vali_check == false
   			
   			Swal.fire({
  				icon:'error',
  				title:'실패',
  				text: vali_text
   			});
   		} else{
   			// vali_check == true
   			
   			// 데이터를 json화
   			const commentData = {
   				    notice_no: noticeNo,
   				 	writer_id: cmtWriterId,
   				 	cmt_content: cmtContent
   				};
   			// JSON 문자열로 변환
   			const commentJSON = JSON.stringify(commentData);
   			
   			// CSRF(Cross-Site Request Forgery, 사이트 간 요청 위조)방지를 위한 토큰
  			const csrfToken = document.getElementById("csrf_token").value;
	  			
   			// fetch
   			fetch('/notice/comment',{
   				method:'post',
	  				headers:{
	  					"Content-Type": "application/json;charset=utf-8",
	  					"Accept": "application/json",
	  					'X-CSRF-TOKEN': csrfToken
	  				},
	  				body:commentJSON
   			})
   			.then(response=>response.json())
  			.then(data=>{
  				if(data.res_code == '200'){
  				// 성공 시 댓글 리스트를 비동기적으로 새로고침
  			        Swal.fire({
  			            icon: 'success',
  			            title: '성공',
  			            text: data.res_msg
  			        }).then(() => {
  			        	// 작성 댓글 초기화
  			        	document.getElementById('cmt_content').value = "";
  			            // 댓글 리스트 갱신 함수 호출
  			            refreshCommentSection(data.notice_no);  // 게시글 번호를 인자로 넘김
  			        });
  				} else{
  					Swal.fire({
  						icon:'error',
  						title:'실패',
  						text: data.res_msg
  					});
  				}
  			})
   		}
		
	}
	
 	// 댓글 리스트 영역을 비동기적으로 새로고침하는 함수
    const refreshCommentSection = function(noticeNo) {
        // 댓글 리스트를 불러올 경로 설정 (게시글 번호를 포함)
        const url = `/comment/list/${noticeNo}`;
        
     	// CSRF(Cross-Site Request Forgery, 사이트 간 요청 위조)방지를 위한 토큰
		const csrfToken = document.getElementById("csrf_token").value;

        // 서버에서 새로운 댓글 리스트 HTML을 가져와서 교체
        fetch(url, {
            method: 'GET',
            headers: {
                'X-CSRF-TOKEN': csrfToken
            } 
        })
        .then(response => response.text())  // 서버로부터 HTML 형태로 응답 받음
        .then(html => {
            // comment_place 영역을 새로운 HTML로 업데이트
            document.getElementById('comment_place').innerHTML = html;
        })
        .catch(error => {
        	Swal.fire({
					icon:'error',
					title:'실패',
					text: '댓글목록 갱신 중 오류 발생 : ',error
				});
        });
    };

	</script>
    <!-- 대댓글 작성 -->
    <script>
    	// 대댓글 작성폼 열기
	    function openReplyForm(button) {
	        // 댓글 버튼의 상위 div인 card-body 내의 댓글 작성 폼을 찾음
	        const commentForm = button.closest('.card-body').querySelector('.comment-form');
	        // 댓글 작성 폼의 display 속성을 토글 (none <-> block)
	        if (commentForm.style.display === "none" || commentForm.style.display === "") {
	            commentForm.style.display = "block";
	        } else {
	            commentForm.style.display = "none";
	        }
	    }
    	
    	// 대댓글 작성폼 제출
    	const addReply = function(button){
    		
    		// 대댓글 작성 버튼의 상위 div인 comment-form 내의 댓글 작성 데이터를 찾음
	        const commentForm = button.closest('.comment-form');
    		
    		const noticeNo = document.getElementById('notice_no').value;
    		const parentCmtNo = commentForm.querySelector('#reply_parent_cmt_no').value;
    	    const cmtWriterId = commentForm.querySelector('#reply_writer_id').value;
    	    const cmtContent = commentForm.querySelector('#reply_cmt_content').value.trim();
    	    
    		// 유효성 검사
    		let vali_check = false;
    		let vali_text ="";
    	    		
    		if(cmtContent==""){
    			vali_text += "내용을 입력하세요.";
    			document.getElementById('reply_cmt_content').focus();
    			
    		}else{
    			vali_check = true;
    		}
    		
    		
    		if(vali_check == false){
       			// vali_check == false
       			
       			Swal.fire({
      				icon:'error',
      				title:'실패',
      				text: vali_text
       			});
       		} else{
       			// vali_check == true
       			
       			// 데이터를 json화
       			const commentData = {
       				    notice_no: noticeNo,
       				    parent_cmt_no: parentCmtNo,
       				 	writer_id: cmtWriterId,
       				 	cmt_content: cmtContent
       				};
       			// JSON 문자열로 변환
       			const commentJSON = JSON.stringify(commentData);
       			
       			// CSRF(Cross-Site Request Forgery, 사이트 간 요청 위조)방지를 위한 토큰
      			const csrfToken = document.getElementById("csrf_token").value;
    	  			
       			// fetch
       			fetch('/notice/comment',{
       				method:'post',
    	  				headers:{
    	  					"Content-Type": "application/json;charset=utf-8",
    	  					"Accept": "application/json",
    	  					'X-CSRF-TOKEN': csrfToken
    	  				},
    	  				body:commentJSON
       			})
       			.then(response=>response.json())
      			.then(data=>{
      				if(data.res_code == '200'){
      				// 성공 시 댓글 리스트를 비동기적으로 새로고침
      			        Swal.fire({
      			            icon: 'success',
      			            title: '성공',
      			            text: data.res_msg
      			        }).then(() => {
      			        	// 작성 댓글 초기화
      			        	document.getElementById('cmt_content').value = "";
      			            // 댓글 리스트 갱신 함수 호출
      			            refreshCommentSection(data.notice_no);  // 게시글 번호를 인자로 넘김
      			        });
      				} else{
      					Swal.fire({
      						icon:'error',
      						title:'실패',
      						text: data.res_msg
      					});
      				}
      			})
       		}
    	}
	</script>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/dist/js/app-style-switcher.js"></script>
    <script src="/dist/js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
</body>

</html>