<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
     layout:decorate="~{include/notice_layout}">
<th:block layout:fragment="content">
<style>
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	  margin: 2px 0;
	  white-space: nowrap;
	  justify-content: center;
	}	
</style>


<body>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-7 align-self-center">
						<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">공지사항</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb m-0 p-0">
									<li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
									<li class="breadcrumb-item text-muted active" aria-current="page">Library</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="col-5 align-self-center">
						<div class="customize-input float-right">
							<select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
								<option selected>Aug 19</option>
								<option value="1">July 19</option>
								<option value="2">Jun 19</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
		                        <div class="row mb-2">
		                        	<div class="col-6 d-flex justify-content-start">
			                            <button type="button" class="btn waves-effect waves-light btn-primary m-1">btn1</button>
			                            <button type="button" class="btn waves-effect waves-light btn-light m-1">btn2</button>
		                        	</div>
		                        	<div class="col-6 d-flex justify-content-end">
			                            <button type="button" class="btn waves-effect waves-light btn-light m-1">btn3</button>
			                            <button type="button" class="btn waves-effect waves-light btn-primary m-1" 
			                            onclick="location.href='/notice/create'">게시글 작성</button>
		                        	</div>
	                            </div>
                                <div class="table-responsive">
                                    <table id="notice_config" class="table table-hover table-bordered no-wrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>읽음</th>
                                                <th>글번호</th>
                                                <th>분류</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>작성일자</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<th:block th:if="${#lists.isEmpty(resultList)}">
                                        		<tr>
                                        			<td colspan="6">게시글이 존재하지 않습니다.</td>
                                        		</tr>
                                        	</th:block>
                                        	<th:block th:if="${!#lists.isEmpty(resultList)}">
                                        		<tr th:each="notice, noticeStat : ${resultList}">
                                        			<td th:text="${notice.read_check ? 'V' : ''}"></td>
                                        			<td th:text="${noticeStat.count}"></td>
                                        			<td th:text="${notice.category_name}"></td>
                                        			<td th:text="${notice.notice_title}"></td>
                                        			<td th:text="${notice.writer_name}"></td>
                                        			<td th:text="${notice.reg_date}"></td>
                                        		</tr>
                                        	</th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/dist/js/app-style-switcher.js"></script>
    <script src="/dist/js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
</body>

</html>