<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
     layout:decorate="~{include/notice_layout}">
<th:block layout:fragment="content">
<style>
	/* datatable css */
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	  margin: 2px 0;
	  white-space: nowrap;
	  justify-content: center;
	}
	/* a 태그 속성 제거 */
	a {
	    text-decoration: none; /* 밑줄 제거 */
	    color: inherit;        /* 기본 색상 제거, 부모 요소의 색상 사용 */
	    cursor: pointer;       /* 커서 스타일 변경 */
	}	
	/* a 태그 호버 시 스타일 */
	a:hover {
	    text-decoration: none; /* 호버 시 밑줄 추가 */
	    color: inherit;           /* 호버 시 색상 변경 */
	}
</style>


<body>
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            	<h3 class="card-title">공지사항 게시판</h3>
                                <hr>
		                        <div class="row mb-2">
		                        	<div class="col-12 d-flex justify-content-end" sec:authorize="hasAnyAuthority('D3')">
			                            <button type="button" class="btn waves-effect waves-light btn-primary m-1" 
			                            onclick="location.href='/notice/new'">게시글 작성</button>
		                        	</div>
	                            </div>
                                <div class="table-responsive">
                                    <table id="notice_config" class="table table-hover table-bordered no-wrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>읽음</th>
                                                <th>글번호</th>
                                                <th>분류</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>작성일자</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<th:block th:if="${#lists.isEmpty(resultList)}">
                                        		<tr>
                                        			<td colspan="6">게시글이 존재하지 않습니다.</td>
                                        		</tr>
                                        	</th:block>
                                        	<th:block th:if="${!#lists.isEmpty(resultList)}">
                                        		<tr th:each="notice, noticeStat : ${resultList}">
                                        			<td th:text="${notice.read_check==1 ? 'V' : ''}"></td>
                                        			<td th:text="${noticeStat.count}"></td>
                                        			<td th:text="${notice.category_name}"></td>
                                        			<td>
                                        				<a th:href="@{/notice/{noticeNo}(noticeNo=${notice.notice_no})}">
											                <span th:text="${notice.notice_title}"></span>
											            </a>
                                        			</td>
                                        			<td th:text="${notice.writer_name}"></td>
                                        			<td th:text="${#temporals.format(notice.reg_time, 'yyyy.MM.dd')}"></td>
                                        	</th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/dist/js/app-style-switcher.js"></script>
    <script src="/dist/js/feather.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!--This page plugins -->
    <script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
</body>

</html>