<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/adress_book_layout}">
<th:block layout:fragment="content">
	<body>
	<style>		
			/* datatable css */
		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		  margin: 2px 0;
		  white-space: nowrap;
		  justify-content: center;
		}
		/* a 태그 속성 제거 */
		a {
		    text-decoration: none; /* 밑줄 제거 */
		    color: inherit;        /* 기본 색상 제거, 부모 요소의 색상 사용 */
		    cursor: pointer;       /* 커서 스타일 변경 */
		}	
		/* a 태그 호버 시 스타일 */
		a:hover {
		    text-decoration: none; /* 호버 시 밑줄 추가 */
		    color: inherit;           /* 호버 시 색상 변경 */
		}
	</style>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h3 class="card-title">공지사항 게시판</h3>
                                <hr>
                                <div class="row mb-2">
		                        	<div class="col-12 d-flex justify-content-end" sec:authorize="hasAnyAuthority('D3')">
			                            <button type="button" class="btn waves-effect waves-light btn-primary m-1" 
			                            onclick="location.href='/notice/new'">게시글 작성</button>
		                        	</div>
	                            </div>
								<div class="table-responsive">
									<table id="address_book" class="table table-hover table-bordered no-wrap" style="width:100%">
										<thead>
											<tr>
												<th scope="col">번호</th>
												<th scope="col">직원번호</th>
												<th scope="col">직원명</th>
												<th scope="col">출근여부</th>
												<th scope="col">부서</th>
												<th scope="col">직급</th>
												<th scope="col">담당</th>
												<th scope="col">내선전화</th>
												<th scope="col">전화번호</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:if="${#lists.isEmpty(resultList)}">
												<tr>
													<td colspan="7">주소록이 없습니다.</td>
												</tr>
											</th:block>
											<th:block th:if="${!#lists.isEmpty(resultList)}">
												<tr th:each="employee, employeeStat : ${resultList}">
													<td scope="row" th:text="${employeeStat.count}"></td>
													<td th:text="${employee.emp_id}"></td>
													<td th:text="${employee.emp_name}"></td>
													<td></td>
													<td th:text="${employee.dept_name}"></td>
													<td th:text="${employee.job_name}"></td>
													<td></td>
													<td th:text="${employee.emp_internal_phone}"></td>
													<td th:text="${employee.emp_phone}"></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center text-muted">
				All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
			</footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
	</body>
</html>