<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/employee_layout}">
<th:block layout:fragment="content">
	<body>
	<style>		
			/* datatable css */
		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		  margin: 2px 0;
		  white-space: nowrap;
		  justify-content: center;
		}
		/* a 태그 속성 제거 */
		a {
		    text-decoration: none; /* 밑줄 제거 */
		    color: inherit;        /* 기본 색상 제거, 부모 요소의 색상 사용 */
		    cursor: pointer;       /* 커서 스타일 변경 */
		}	
		/* a 태그 호버 시 스타일 */
		a:hover {
		    text-decoration: none; /* 호버 시 밑줄 추가 */
		    color: inherit;           /* 호버 시 색상 변경 */
		}
	</style>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h3 class="card-title">공지사항 게시판</h3>
                                <hr>
								<div class="table-responsive">
									<table id="address_book" class="table table-hover table-bordered no-wrap" style="width:100%">
										<thead>
											<tr>
												<th scope="col">번호</th>
												<th scope="col">직원번호</th>
												<th scope="col">직원명</th>
												<th scope="col">재직여부</th>
												<th scope="col">부서</th>
												<th scope="col">직급</th>
												<th scope="col">담당</th>
												<th scope="col">내선전화</th>
												<th scope="col">전화번호</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:if="${#lists.isEmpty(resultList)}">
												<tr>
													<td colspan="7">주소록이 없습니다.</td>
												</tr>
											</th:block>
											<th:block th:if="${!#lists.isEmpty(resultList)}">
												<tr th:each="employee, employeeStat : ${resultList}">
													<td scope="row" th:text="${employeeStat.count}"></td>
													<td th:text="${employee.emp_id}"></td>
													<td th:text="${employee.emp_name}"></td>
													<td th:text="${employee.ent_status == 'Y' ? '재직' : 
							               employee.ent_status == 'N' ? '퇴직' : 
							               employee.ent_status == 'L' ? '전근' : '휴직'}"></td>
													<td th:text="${employee.dept_name}"></td>
													<td th:text="${employee.job_name}"></td>
													<td></td>
													<td th:text="${employee.emp_internal_phone}"></td>
													<td th:text="${employee.emp_phone}"></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center text-muted">
				All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
			</footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		
			<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
	<!--This page plugins -->
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
	</body>
</html>