<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/employee_layout}">
<th:block layout:fragment="content">
	<style>
.preview-container {
	border-radius: 50%; overflow: hidden; width: 100%; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center;
}

#imagePreview {
	width: 80%; aspect-ratio: 1/1; object-fit: cover;
}

.hidden {
	display: none;
}

.centered-container {
	display: flex; justify-content: center; align-items: center;
}

input:read-only {
	border: none;
}

.tooltip-container {
	position: relative; display: inline-block;
}

.tooltip-trigger {
	padding: 10px; font-size: 16px;
}

.tooltip {
	visibility: hidden; width: 350px; border: 2px solid lightgray; color: black; text-align: center; border-radius: 6px; padding: 5px 10px; position: absolute; z-index: 1; bottom: 125%; /* 위치 조정 */ left: 50%; margin-left: -120px; /* 툴팁의 중앙 정렬을 위한 조정 */ opacity: 0; transition: opacity 0.3s; color: black
}

.tooltip::after {
	content: ""; position: absolute; top: 100%; /* 위치 조정 */ left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: lightgray transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
	visibility: visible; opacity: 1;
}
</style>
	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body" style="padding: 50px 80px;">
						<div class="row" style="margin-left: 0px !important; margin-right: 0px !important; margin-bottom: 20px;">
							<div class="col d-flex justify-content-start align-items-center" style="padding-left: 0px; max-width: 240px;">
								<div style="font-size: 30px;">직원 상세 정보</div>
							</div>
							<div class="col d-flex justify-content-end">
								<button type="button" class="btn waves-effect waves-light btn-outline-secondary" style="margin: 4px;" onclick="location.href='/employee/list';">목록</button>
								<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" id="editEmployee" onclick="editEmployee();">수정</button>
							</div>
						</div>

						<ul class="nav nav-tabs nav-bordered mb-3">
							<li class="nav-item"><a href="#employee_info" data-toggle="tab" aria-expanded="true" class="nav-link active"> <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">직원정보</span>
							</a></li>
							<li class="nav-item"><a href="#class-history" data-toggle="tab" aria-expanded="false" class="nav-link"> <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">학급이력</span>
							</a></li>
							<li class="nav-item"><a href="#employee-status" data-toggle="tab" aria-expanded="false" class="nav-link"> <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">재직이력</span>
							</a></li>
							<li class="ml-auto">
								<div class="col d-flex justify-content-end">
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#trans_modal">전근</button>
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#rest_modal">휴직</button>
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#leave_modal">퇴직</button>
								</div>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane show active" id="employee_info">
								<div class="form-body">
									<div class="row">
										<!-- 사진등록 -->
										<div class="col-md-2 " style="margin-left: 50px;">
											<div class="form-group" style="margin-top: 20px;">
												<div class="row">
													<div class="preview-container" id="preview-container">
														<img id="imagePreview" th:src="@{'/UploadImg/employee/' + ${empDto.new_pic_name}}" width="100px" style="border-radius: 50%; object-fit: cover; aspect-ratio: 1/1">
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-9 m-auto">
											<div class="form-group" style="margin-top: 40px;">
												<div class="row">
													<div class="col-md-3">
														<label>직원번호</label> <input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
													</div>
													<div class="col-md-3">
														<label>교육청관리번호</label> <input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly><br>
													</div>
												</div>
											</div>


											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>이름</label> <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
														<div id="emp_name_feedback" class="mt-2"></div>
													</div>
													<div class="col-md-4">
														<label>주민등록번호</label> <input type="text" class="form-control" id="firstempRrn" placeholder="000101" th:value="${#strings.substring(empDto.emp_rrn, 0, 8) + '******'}" readonly maxlength="6"><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
													</div>
													<div class="col-md-3">
														<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}"><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>우편번호</label> <input type="text" name="emp_post_code" class="form-control" id="sample6_postcode" placeholder="우편번호" th:value="${empDto.emp_post_code}" readonly>
													</div>
													<div class="col-md-8">
														<label>집 주소</label> <input type="text" name="emp_addr" class="form-control" id="sample6_address" placeholder="주소" th:value="${empDto.emp_addr + ' ' + empDto.emp_detail_addr}" readonly><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>전화번호</label> <input type="text" id="empPhone" th:value="${empDto.emp_phone}" name="emp_phone" class="form-control" readonly>
													</div>
													<div class="col-md-3">
														<label>내선전화번호</label> <input type="text" class="form-control" id="emp_internal_phone" th:value="${empDto.emp_internal_phone}" readonly name="emp_internal_phone" placeholder="0000" maxlength="4"><br>
													</div>

												</div>
											</div>

											<div class="form-group">
												<label for="gov_id">비밀번호</label>
												<div class="row">
													<div class="col-md-2">
														<input type="text" class="form-control" id="emp_pw" name="emp_pw" value="****" placeholder="주민등록번호를 입력하세요" readonly>
													</div>
													<div class="col-4">
														<form id="resetPw">
															<input type="hidden" class="form-control" id="pw" name="emp_pw" th:value="${#strings.replace(empDto.emp_rrn, '-', '')}"> <input type="hidden" class="form-control" id="empId" name="emp_id" th:value="${empDto.emp_id}">
															<div class="tooltip-container">
																<button class="btn btn-info tooltip-trigger">비밀번호 초기화</button>
																<div class="tooltip">이 버튼을 클릭하면 해당 계정의 비밀번호가 주민등록번호로 초기화됩니다. 신중하게 클릭하세요.</div>
															</div>
														</form>
													</div>
												</div>
											</div>

											<div class="form-group">
												<label>입사일</label>
												<div class="row">
													<div class="col-md-8">
														<input type="date" class="form-control " id="hire_date" th:value="${empDto.hire_date}" readonly name="hire_date">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane" id="class-history">
								<div class="form-group">
									<div class="row">
										<div class="col-md-8" style="margin-top: 40px;">
											<div class="table-responsive">
												<table id="employee_teacher_history_list" class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">학년도</th>
															<th scope="col">학년</th>
															<th scope="col">반</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(thDtoList)}">
															<tr>
																<td colspan="4">학급이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(thDtoList)}">
															<tr th:each="history, historyStat : ${thDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.t_year}"></td>
																<td th:text="${history.grade}"></td>
																<td th:text="${history.grade_class}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="employee-status">
								<div class="form-group">
									<div class="row">
										<div class="col-md-8" style="margin-top: 40px;">
											<label>전근</label>
											<div class="table-responsive">
												<table id="employee_transfer_history_list" class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">전근학교번호</th>
															<th scope="col">전근일</th>
															<th scope="col">전근유형</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(tDtoList)}">
															<tr>
																<td colspan="4">전근이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(tDtoList)}">
															<tr th:each="history, historyStat : ${tDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.trans_school_id}"></td>
																<td th:text="${history.trans_date}"></td>
																<td th:text="${history.trans_type == 'T' ? '전출' : history.trans_type == 'F' ? '전입' : '-'}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8" style="margin-top: 40px;">
											<label>휴직</label>
											<div class="table-responsive">
												<table id="employee_rest_history_list" class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 20%;">
														<col style="width: 20%;">
														<col style="width: 20%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">휴직일</th>
															<th scope="col">복귀예정일</th>
															<th scope="col">복귀일</th>
															<th scope="col">휴직사유</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(restDtoList)}">
															<tr>
																<td colspan="5">휴직이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(restDtoList)}">
															<tr th:each="history, historyStat : ${restDtoList}" 
																th:data-no="${history.status_no}"
																th:data-emp="${history.emp_id}"
																th:data-reason="${history.stop_reason}"
																th:data-stop="${history.stop_date}"
																th:data-excepted="${history.excepted_date}"
																th:data-return="${history.return_date}"
																th:data-status="${history.status_type}"
																class="rest_history"
																data-toggle="modal" 
																data-target="#return_modal">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.stop_date}"></td>
																<td th:text="${history.excepted_date}"></td>
																<td th:text="${history.return_date == null ? '-' : history.return_date}"></td>
																<td th:text="${history.stop_reason}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8" style="margin-top: 40px;">
											<label>퇴직</label>
											<div class="table-responsive">
												<table id="employee_leave_history_list" class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 40%;">
														<col style="width: 50%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">퇴직일</th>
															<th scope="col">퇴직사유</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(leaveDtoList)}">
															<tr>
																<td colspan="4">퇴직이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(leaveDtoList)}">
															<tr th:each="history, historyStat : ${leaveDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.stop_date}"></td>
																<td th:text="${history.stop_reason}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}">

					</div>
				</div>
			</div>
			<footer class="footer text-center text-muted">
				All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
			</footer>
		</div>
	</div>

	<!-- 전근 모달창 -->
	<div id="trans_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> <input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> <input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> <input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<form class="pl-3 pr-3" id="transFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> <input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> <input type="hidden" name="trans_type" value="T">
						<div class="form-group">
							<label for="trans_date">전근일 <span style="color: red;">*</span></label> <input type="date" class="form-control" id="trans_date" name="trans_date">
							<div id="trans_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="trans_school_id">전근 학교 코드 <span style="color: red;">*</span></label> <input type="text" class="form-control" placeholder="전근갈 학교의 코드를 입력하세요." id="trans_school_id" name="trans_school_id" maxlength="7">
							<div id="trans_school_id_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="transBtn">전근</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<!-- 휴직 모달창 -->
	<div id="rest_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> <input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> <input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>

					<form class="pl-3 pr-3" id="restFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="status_type" th:value="${'R'}">

						<div class="form-group">
							<label for="stop_date">휴직일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="stop_date" name="stop_date">
							<div id="stop_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="excepted_date">복귀예정일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="excepted_date" name="excepted_date">
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason">휴직사유 <span style="color: red;">*</span></label> 
							<input type="text" class="form-control" placeholder="휴직 사유를 33자 이내로 입력하세요." id="stop_reason" name="stop_reason" maxlength="33">
							<div id="stop_reason_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="restBtn">휴직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	
	<!-- 복직 모달창 -->
	<div id="return_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> 
									<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> 
									<input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>

					<form class="pl-3 pr-3" id="returnFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="status_no" id="status_no"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="status_type" th:value="${'R'}">
						
						<div class="form-group">
							<label for="stop_date">휴직일</label> 
							<input type="date" class="form-control" id="stop_date_r" name="stop_date" readonly>
							<div id="stop_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="excepted_date">복귀예정일</label> 
							<input type="date" class="form-control" id="excepted_date_r" name="excepted_date" readonly>
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason">휴직사유</label> 
							<input type="text" class="form-control" placeholder="휴직 사유를 33자 이내로 입력하세요." id="stop_reason_r" name="stop_reason" maxlength="33" readonly>
							<div id="stop_reason_feedback" class="mt-2"></div>
						</div>
						
						<div class="form-group">
							<label for="excepted_date">복귀일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="return_date_r" name="return_date">
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="returnBtn">복직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<!-- leave 모달창 -->
	<div id="leave_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> 
									<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> 
									<input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-co
									ntrol" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<form class="pl-3 pr-3" id="leaveFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="status_type" value="N">
						<div class="form-group">
							<label for="stop_date_L">퇴직일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="stop_date_L" name="stop_date">
							<div id="stop_date_L_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason_L">퇴직 사유 <span style="color: red;">*</span></label> 
							<input type="text" class="form-control" placeholder="퇴직 사유를 33자 이내로 입력하세요." id="stop_reason_L" name="stop_reason" maxlength="33">
							<div id="stop_reason_L_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="leaveBtn">퇴직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	

	<script>
		// script.js
		document.querySelectorAll('.tooltip-trigger').forEach(trigger => {
		    trigger.addEventListener('mouseover', function() {
		        const tooltip = this.nextElementSibling;
		        tooltip.style.visibility = 'visible';
		        tooltip.style.opacity = 1;
		    });
	
		    trigger.addEventListener('mouseout', function() {
		        const tooltip = this.nextElementSibling;
		        tooltip.style.visibility = 'hidden';
		        tooltip.style.opacity = 0;
		    });
		});
		
		
		$(document).ready(function () {
			// 비밀번호 초기화
			$('#resetPw').submit(function(e) {
				e.preventDefault();
				
				const csrfToken = document.getElementById("csrf_token").value;
				const payload = new FormData(document.getElementById('resetPw'));
				
				fetch('/reset-pw', {
					method: 'PUT',
					headers : {
						'X-CSRF-TOKEN': csrfToken
					},
					body: payload
				})
				.then(response => response.json())
				.then(data=>{
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기"
						})
						
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기"
						});
					}
				});
			})
			
			$('#transFrm').submit(function(e) {
				e.preventDefault();
				
				const csrfToken = document.getElementById("csrf_token").value;
				const payload = new FormData(document.getElementById('transFrm'));
				
				fetch('/employee/transfer', {
					method: 'POST',
					headers : {
						'X-CSRF-TOKEN': csrfToken
					},
					body: payload
				})
				.then(response => response.json())
				.then(data=>{
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기"
						})
						
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기"
						});
					}
				});
			})
		});
		
		// 수정 페이지로 이동
		$(document).ready(function () {
			$('#editEmployee').click(function() {
				location.href='/employee/edit/' + $('#emp_id').val();
			});
		});
		
		// 오늘 날짜로 기본 입력
		const today = new Date();
	  const year = today.getFullYear();
	  const month = (today.getMonth() + 1).toString().padStart(2, '0');
	  const day = today.getDate().toString().padStart(2, '0');
	
	  const formattedDate = `${year}-${month}-${day}`;
	  
	  document.getElementById('trans_date').value = formattedDate;
	  
	  $(document).ready(function() {
      function validateForm() {
         var isValid = true;

         if ($('#trans_date').val() === '') {
             $('#trans_date').removeClass('is-valid').addClass('is-invalid');
             $('#trans_date_feedback').text('전근일을 선택하세요').css('color', 'red');
             isValid = false;
         } else {
             $('#trans_date').removeClass('is-invalid').addClass('is-valid');
             $('#trans_date_feedback').text('');
         }

         var inputVal = $('#trans_school_id').val();
         if (inputVal === '') {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id_feedback').text('전근 학교 코드를 입력하세요').css('color', 'red');
             isValid = false;
         } else if (!/^\d+$/.test(inputVal)) {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id').val('');
             $('#trans_school_id_feedback').text('숫자만 입력하세요').css('color', 'red');
             isValid = false;
         } else if (inputVal.length < 7) {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id_feedback').text('숫자 7자를 입력하세요').css('color', 'red');
             isValid = false;
         } else {
             $('#trans_school_id').removeClass('is-invalid').addClass('is-valid');
             $('#trans_school_id_feedback').text('');
         }
         
         $('#transBtn').prop('disabled', !isValid);
      }

      $('#trans_date').on('change', validateForm);
      $('#trans_school_id').on('input', validateForm);
	  });
	</script>
	<script>
		document.getElementById('stop_date').value = formattedDate;
		  
		  $(document).ready(function() {
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#stop_date').val() === '') {
		           $('#stop_date').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_date_feedback').text('휴직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_date').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_date_feedback').text('');
		       }
		       
		       if ($('#excepted_date').val() === '') {
		           $('#excepted_date').removeClass('is-valid').addClass('is-invalid');
		           $('#excepted_date_feedback').text('복귀예정일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#excepted_date').removeClass('is-invalid').addClass('is-valid');
		           $('#excepted_date_feedback').text('');
		       }
		
		       var inputVal = $('#stop_reason').val();
		       if (inputVal === '') {
		           $('#stop_reason').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_feedback').text('휴직사유를 입력하세요').css('color', 'red');
		           isValid = false;
		       } else if (inputVal.length > 33) {
		           $('#stop_reason').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_feedback').text('33자 이하로 입력하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_reason').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_reason_feedback').text('');
		       }
		       
		       $('#restBtn').prop('disabled', !isValid);
		    }
	
	    $('#stop_date').on('change', validateForm);
	    $('#excepted_date').on('change', validateForm);
	    $('#stop_reason').on('input', validateForm);
	  });
		  
	  $('#restFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('restFrm'));
			
			fetch('/employee/rest', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기"
					}).then(() => {
						location.href="/employee/detail/" + document.getElementById('restFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기"
					});
				}
			});
		});
	</script>
	
	<script>
		document.getElementById('stop_date_L').value = formattedDate;
		  
		  $(document).ready(function() {
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#stop_date_L').val() === '') {
		           $('#stop_date_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_date_L_feedback').text('휴직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_date_L').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_date_L_feedback').text('');
		       }
		       		
		       var inputVal = $('#stop_reason_L').val();
		       if (inputVal === '') {
		           $('#stop_reason_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_L_feedback').text('휴직사유를 입력하세요').css('color', 'red');
		           isValid = false;
		       } else if (inputVal.length > 33) {
		           $('#stop_reason_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_L_feedback').text('33자 이하로 입력하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_reason_L').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_reason_L_feedback').text('');
		       }
		       
		       $('#leaveBtn').prop('disabled', !isValid);
		    }
	
	    $('#stop_date_L').on('change', validateForm);
	    $('#stop_reason_L').on('input', validateForm);
	  });
		  
	  $('#leaveFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('leaveFrm'));
			
			fetch('/employee/leave', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기"
					}).then(() => {
						location.href="/employee/detail/" + document.getElementById('leaveFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기"
					});
				}
			});
		});
	</script>
	
	<script>
		$(document).ready(function() {
			$('.rest_history').on('click', function() {
	        var status_no = $(this).data('no');
	        var emp_id = $(this).data('emp');
	        var stop_reason = $(this).data('reason');
	        var stop_date = $(this).data('stop');
	        var excepted_date = $(this).data('excepted')
	        var return_date = $(this).data('return');
		
	        $('#status_no').val(status_no);
	        $('#stop_reason_r').val(stop_reason);
	        $('#stop_date_r').val(stop_date);
	        $('#excepted_date_r').val(excepted_date);
	        $('#return_date_r').val(return_date);
	    });
		
		document.getElementById('return_date_r').value = formattedDate;
		  
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#return_date_r').val() === '') {
		           $('#return_date_r').removeClass('is-valid').addClass('is-invalid');
		           $('#return_date_r_feedback').text('복직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#return_date_r').removeClass('is-invalid').addClass('is-valid');
		           $('#return_date_r_feedback').text('');
		       }
		       
		       $('#returnBtn').prop('disabled', !isValid);
		    }
	
	    $('#return_date_r').on('change', validateForm);
		  
	  $('#returnFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('returnFrm'));
			
			fetch('/employee/return', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기"
					}).then(() => {
						location.href="/employee/detail/" + document.getElementById('returnFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기"
					});
				}
			});
		});
		})
	</script>
	</body>
</th:block>
</html>