<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/employee_layout}">
<th:block layout:fragment="content">
	<style>
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: center;
}

td span {
	display: block;
	width: 100%;
	height: 56px;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	line-height: 56px;
}
</style>

	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-7 align-self-center">
					<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Basic Table</h4>
					<div class="d-flex align-items-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb m-0 p-0">
								<li class="breadcrumb-item"><a href="index.html" class="text-muted">Home</a></li>
								<li class="breadcrumb-item text-muted active" aria-current="page">Library</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="col-5 align-self-center">
					<div class="customize-input float-right">
						<select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
							<option selected>Aug 19</option>
							<option value="1">July 19</option>
							<option value="2">Jun 19</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:text="${resultList[0].t_year + ' 년도'}"></h3>
							<hr>
							<div class="row mb-2">
								<div class="col-6 d-flex justify-content-start">
									<button type="button" class="btn waves-effect waves-light btn-outline-secondary">목록</button>
								</div>
								<div class="col-6 d-flex justify-content-end">
									<button type="button" class="btn waves-effect waves-light btn-primary m-1" data-toggle="modal" data-target="#class_create_modal">반 수정</button>

								</div>
							</div>
							<div class="table-responsive">
								<table id="class_by_year" class="table table-bordered no-wrap" style="width: 100%">
									<thead>
										<th:block th:if="${#lists.isEmpty(resultList)}">
											<tr>
												<th>반 배정 목록이 없습니다.</th>
											</tr>
										</th:block>
										<th:block th:if="${!#lists.isEmpty(resultList)}">
											<tr>
												<th scope="col" style="width: 10%;">학년\반</th>
												<th scope="col" th:each="i : ${#numbers.sequence(1, maxClass)}" th:text="${i} + ' 반'"></th>
											</tr>
										</th:block>
									</thead>
									<tbody>
										<tr th:each="grade : ${#numbers.sequence(1, 6)}">
											<td th:text="${grade} + ' 학년'" class="gradeTextCenter"></td>
											<td th:each="i : ${#numbers.sequence(1, maxClass)}" style="padding: 0px;">
												<span th:if="${gradeToClassMap[grade + ''] != null and #lists.size(gradeToClassMap[grade + '']) >= i and gradeToClassMap[grade + ''][i-1].teach_emp_name != 'null'}" 
													th:text="${gradeToClassMap[grade + ''][i-1].teach_emp_name}" 
													th:data-grade="${grade}"
													th:data-class="${i}" 
													th:data-empname="${gradeToClassMap[grade + ''][i-1].teach_emp_name}"
													th:data-empid="${gradeToClassMap[grade + ''][i-1].teach_emp_id}"
													th:data-teacherno="${gradeToClassMap[grade + ''][i-1].teacher_no}"
													th:data-tyear="${gradeToClassMap[grade + ''][i-1].t_year}"
													class="teacher-span"
													data-toggle="modal" 
													data-target="#editClass"
													> 
												</span> 
												<span th:if="${gradeToClassMap[grade + ''] != null and #lists.size(gradeToClassMap[grade + '']) >= i and gradeToClassMap[grade + ''][i-1].teach_emp_name == 'null'}" 
													th:text="미배정"
													th:data-grade="${grade}"
													th:data-class="${i}"
													th:data-tyear="${gradeToClassMap[grade + ''][i-1].t_year}"
													data-toggle="modal" 
													data-target="#addClass"
													class="add-span">
												</span> 
												<span th:if="${gradeToClassMap[grade + ''] == null or #lists.size(gradeToClassMap[grade + '']) < i}" style="cursor: default;"> </span>
											</td>
										</tr>
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="addClass" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header modal-colored-header bg-info">
							<h4 class="modal-title" id="info-header-modalLabel">직원 반 배정</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form class="pl-3 pr-3">

								<div class="form-group">
									<select class="form-control" name="emp_name">
										<option value="0">직원을 선택하세요</option>
										<th:block th:each="emp : ${empList}">
											<option th:text="${emp.emp_name}" th:value="${emp.emp_id}"></option>
										</th:block>
									</select>
								</div>

								<div class="form-group">
									<label for="password">학년</label>
									<input class="form-control" type="text" id="add_grade" readonly>
								</div>

								<div class="form-group">
									<label for="password">반</label> 
									<input class="form-control" type="text" id="add_grade_class" readonly>
								</div>

								<div class="form-group">
									<label for="password">학년도</label> 
									<input class="form-control" type="text" readonly id="add_t_year">
								</div>

								<div class="form-group text-center">
									<button class="btn btn-primary" type="button" onclick="addTeacher">직원 등록</button>
								</div>

							</form>

						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<div id="editClass" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header modal-colored-header bg-info">
							<h4 class="modal-title" id="info-header-modalLabel">직원 반 수정</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form class="pl-3 pr-3" action="#">

								<div class="form-group">
									<input class="form-control" type="hidden" name="teacher_no" id="edit_teacher_no">
								</div>

								<div class="form-group">
									<input class="form-control" type="hidden" name="emp_id" id="edit_emp_id">
								</div>
								
								<div class="form-group">
									<label for="emailaddress">직원명</label> 
									<!-- <input class="form-control" type="text" name="emp_id" id="edit_emp_name"> -->
									<select class="form-control" name="emp_name">
										<option id="selectTeacher"></option>
										<th:block th:each="emp : ${empList}">
											<option th:text="${emp.emp_name}" th:value="${emp.emp_id}"></option>
										</th:block>
									</select>
								</div>

								<div class="form-group">
									<label for="password">학년</label> 
									<input class="form-control" type="text" name="grade" id="edit_grade" readonly>
								</div>

								<div class="form-group">
									<label for="password">반</label> 
									<input class="form-control" type="text" name="grade_class" id="edit_grade_class" readonly>
								</div>

								<div class="form-group">
									<label for="password">학년도</label> 
									<input class="form-control" type="text" name="t_year" readonly id="edit_t_year">
								</div>
								<br>
								<div class="form-group text-center">
									<button class="btn btn-primary" type="submit">직원 수정</button>
								</div>

							</form>

						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<script>
				$('.teacher-span').on('click', function() {
			        var grade = $(this).data('grade');
			        var classNumber = $(this).data('class');
			        var empName = $(this).data('empname');
			        var empId = $(this).data('empid');
			        var teacher_no = $(this).data('teacherno')
			        var year = $(this).data('tyear');
				
			        $('#edit_t_year').val(year);
			        $('#edit_grade').val(grade);
			        $('#edit_grade_class').val(classNumber);
			        $('#selectTeacher').text(empName);
			        $('#selectTeacher').val(empId);
			        $('#edit_teacher_no').val(teacher_no);
			    });
				
				$('.add-span').on('click', function() {
			        var grade = $(this).data('grade');
			        var classNumber = $(this).data('class');
			        var teacher_no = $(this).data('teacherno')
			        var year = $(this).data('tyear');
				
			        $('#add_t_year').val(year);
			        $('#add_grade').val(grade);
			        $('#add_grade_class').val(classNumber);
			        $('#add_teacher_no').val(teacher_no);
			    });
				
				
			</script>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
	<!--This page plugins -->
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
	
	</body>
</html>