<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/mypage_layout}">
<th:block layout:fragment="content">
	<style>
#eye_icon_login {
	display: flex; position: absolute; z-index : 999; left : 320px; bottom : 27px; cursor: pointer; z-index: 999; left: 320px; bottom: 27px;
}

.hidden {
	display: none;
}

.show {
	display: block;
}
</style>

	<style>
.clicked_sign {
	background-color: rgba(150, 150, 150, 0.1); padding: 20px; width: 150px; height: 150px; border-radius: 10px;
}

.form-hover:hover {
	background-color: rgba(0, 0, 0, 0.1); cursor: pointer;
}

.none_clicked_sign {
	padding: 20px; width: 150px; height: 150px; border-radius: 10px;
}

.add_sign {
	background-color: rgba(150, 150, 150, 0.1); padding: 20px; width: 150px; height: 150px; border-radius: 10px; text-align: center; line-height: 110px; font-weight: bolder;
}

</style>
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card" style="padding: 40px;">
						<div class="card-body show" id="pwcheck">
							<h4 class="card-title">비밀번호 확인</h4>
							<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
							<form id="pwcheckFrm">
								<div class="form-body">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<input type="password" class="form-control" name="emp_pw" id="pwd" placeholder="비밀번호를 입력하세요."> 
												<i class="fa fa-eye-slash text-left" id="eye_icon_login" style="position: relative; left: 300px;"></i>
											</div>
										</div>
									</div>
									<button class="btn btn-info">확인</button>
								</div>
							</form>
						</div>

						<div class="card-body hidden" id="signDiv">
							<h4 class="card-title">내 서명</h4>
							<div class="form-body" style="margin-bottom: 40px;">
								<div class="row">
									<th:block th:each="sign : ${resultList}">
										<div class="col-md-2">
											<div class="form-group clicked_sign form-hover" 
									             onclick="signInfoFunc(this);" 
									             th:data-sign-title="${sign.sign_title}"
									             th:data-sign-type="${sign.sign_type}"
									             th:data-reg-time="${#temporals.format(sign.reg_time, 'yyyy.MM.dd HH:mm')}"
									             th:data-mod-time="${sign.mod_time == null ? '-' : #temporals.format(sign.mod_time, 'yyyy.MM.dd HH:mm')}"
									             th:data-rep-yn="${sign.rep_yn}">
												<div style="margin-bottom: 10px;">
													<img th:src="@{'/UploadImg/empSign/' + ${sign.new_pic_name}}" width="80px" height="80px" style="border-radius: 50%">
												</div>
												<label th:text="${sign.sign_title}"></label>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#lists.size(resultList) != 3}">
										<th:block th:each="i : ${#numbers.sequence(1, 3 - (#lists.isEmpty(resultList) ? 0 : #lists.size(resultList)))}">
											<div class="col-md-2">
												<div class="form-group add_sign form-hover" onclick="signAddFunc();">+</div>
											</div>
										</th:block>
									</th:block>
								</div>
							</div>
							<div class="hidden" id="sign_info">
								<table class="table" id="signatureTable">
								    <colgroup>
								        <col style="width: 20%;">
								        <col style="width: 80%;">
								    </colgroup>
								    <tr>
								        <td>서명 제목</td>
								        <td id="signTitle"></td>
								    </tr>
								    <tr>
								        <td>서명 종류</td>
								        <td id="signType"></td>
								    </tr>
								    <tr>
								        <td>서명 등록일</td>
								        <td id="regTime"></td>
								    </tr>
								    <tr>
								        <td>서명 수정일</td>
								        <td id="modTime"></td>
								    </tr>
								    <tr>
								        <td>대표 서명</td>
								        <td id="repYn"></td>
								    </tr>
								</table>
							</div>
							<div id="addSign" class="hidden">
								<form id="addSignFrm">
									<div class="form-body">
										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<label for="sign_title">서명 제목</label> <input type="text" class="form-control" name="sign_title" id="sign_title">
												</div>
												<div class="form-group">
													<label for="sign_type">서명 종류</label> <select class="form-control" name="sign_type" id="sign_type">
														<option value="SI">서명</option>
														<option value="ST">도장</option>
													</select>
												</div>
												<div class="form-group">
												<label for="sign_type">서명 파일</label>
													<div class="custom-file">
							                            <input type="file" class="custom-file-input" name="file" id="file" accept=".jpeg, .jpg, .png">
							                            <label class="custom-file-label" for="file">서명 사진을 선택하세요</label>
						                        	</div>
												</div>
												<div class="form-group">
													<label for="rep_yn" style="display: flex;">대표 서명 &nbsp;<input value="Y" type="checkbox" name="rep_yn" id="rep_yn"></label>
												</div>
												<div class="text-right">
													<button class="btn btn-info">등록</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
	<!--This page plugins -->
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
	<script th:src="@{/login.js}"></script>

	<script>
	
		document.getElementById('pwcheckFrm').addEventListener('submit', (e) => {
			const pw = document.getElementById('pwd');
			e.preventDefault();
			
			let vali_check = false;
			let vali_text = "";
			
			if(pw.value.length == 0) {
				vali_text = "비밀번호를 입력하세요";
			} else {
				vali_check = true;
			}
			
			if(vali_check) {
				const csrfToken = document.getElementById("csrf_token").value;
				
				fetch('/check-pw/' + pw.value, {
					method: 'GET',
					headers : {
						'Accept': 'application/json',
			      		'Content-Type': 'application/json',
						'X-CSRF-TOKEN': csrfToken
					},
				})
				.then(response => response.json())
				.then(data=>{
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기"
						})
						.then(() => {
							document.getElementById('pwcheck').classList.add('hidden');
							document.getElementById('pwcheck').classList.remove('show');
							document.getElementById('signDiv').classList.add('show');
							document.getElementById('signDiv').classList.remove('hidden');
						});
						
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기"
						});
					}
				});
			} else {
				Swal.fire({
					icon: 'error',
					title: '실패',
					text: vali_text,
					confirmButtonText:"닫기"
				})
			}
		});
		
	
		
	</script>

	<script>
		// 클릭 시 서명 추가 form 노출
        function signAddFunc() {
            var addSignElement = document.getElementById('addSign');
            var signInfoElement = document.getElementById('sign_info');
            
            if (addSignElement.classList.contains('hidden')) {
                addSignElement.classList.remove('hidden');
                addSignElement.classList.add('show');
            	signInfoElement.classList.remove('show');
            	signInfoElement.classList.add('hidden');
            } else {
                addSignElement.classList.remove('show');
                addSignElement.classList.add('hidden');
            }
        }
        
		// 클릭 시 서명 정보 노출
        function signInfoFunc(divElement) {
		    // Extract data from the clicked div
		    const signTitle = divElement.getAttribute('data-sign-title');
		    const signType = divElement.getAttribute('data-sign-type') === 'SI' ? '서명' : '도장';
		    const regTime = divElement.getAttribute('data-reg-time');
		    const modTime = divElement.getAttribute('data-mod-time');
		    const repYn = divElement.getAttribute('data-rep-yn') === 'Y' ? 'O' : '-';
		    
		    // Populate the table with the extracted data
		    document.getElementById('signTitle').innerText = signTitle;
		    document.getElementById('signType').innerText = signType;
		    document.getElementById('regTime').innerText = regTime;
		    document.getElementById('modTime').innerText = modTime;
		    document.getElementById('repYn').innerText = repYn;
		    
		    // Optionally, you can also handle the show/hide logic for other elements
		    var addSignElement = document.getElementById('addSign');
		    var signInfoElement = document.getElementById('sign_info');
		    
		    if (signInfoElement.classList.contains('hidden')) {
		    	signInfoElement.classList.remove('hidden');
		    	signInfoElement.classList.add('show');
		    	addSignElement.classList.remove('show');
		    	addSignElement.classList.add('hidden');
		    }
		}
    </script>
    
    <script>
    	const addSignFrm = document.getElementById('addSignFrm');
    	addSignFrm.addEventListener('submit', (e) => {
    		
    		e.preventDefault();
    		
    		let vali_test = false;
    		let vali_text = "";
    		
    		const file = document.getElementById('file');
    		const validExtensions = ['jpg', 'jpeg', 'png'];
        	const fileExtension = file.name.split('.').pop().toLowerCase();

    		if(addSignFrm.sign_title.value == "" || addSignFrm.sign_title.value.length < 2) {
    			vali_text = "2글자 이상 작성해주세요";
    			addSignFrm.sign_title.focus();
    		} else if (file.value == '') {
    			vali_text = "서명 파일을 선택해주세요";
    			file.focus();
    		} else if (validExtensions.includes(fileExtension)) {
    			vali_text = "사진 파일만 선택해주세요";
    			file.value = "";
    			file.focus();
    		} else {
    			vali_test = true;
    		}
    		
    		
    		
    		if(vali_test) {
    			const csrfToken = document.getElementById("csrf_token").value;
    			
    			const payload = new FormData(addSignFrm);
    			
    			fetch('/addsign', {
    				method: 'POST',
    				headers: {
    					'X-CSRF-TOKEN': csrfToken
    				},
    				body: payload
    			})
    			.then(res => res.json())
    			.then(data => {
    				if(data.res_code == "200") {
    					Swal.fire({
    						icon :'success',
    						title:'성공',
    						text : data.res_msg,
    						confirmButtonText:"닫기"
    					})
    					.then(() => {
    						location.href="/mysign";
    					});
    				} else {
    					Swal.fire({
    						icon :'error',
    						title:'실패',
    						text : data.res_msg,
    						confirmButtonText:"닫기"
    					})
    				}
    			})
    		} else {
    			Swal.fire({
    				icon: "error",
    				title: vali_text,
    				confirmButtonText: "닫기"
    			})
    		}
    	})
    	
    </script>
</th:block>
</html>