<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
<title>물망초등학교</title>
<link href="dist/css/style.min.css" rel="stylesheet">
<style>
.addPic {
	background-color: gainsboro; width: 120px; height: 120px; border-radius: 50%; border: none; font-size: 25px;
}

.littleButton {
	background-color: gainsboro; width: 35px; height: 35px; border-radius: 50%; border: none; font-size: 15px; text-align: center; position: relative; bottom: 35px; left: 85px;
}

.preview-container {
	border-radius: 50%; overflow: hidden; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center; border: 2px solid lightgray;
}

#imagePreview {
	width: 100%; height: 100%; object-fit: cover;
}

.hidden {
	display: none;
}

.centered-container {
	display: flex; justify-content: center; align-items: center;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>
<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<header class="topbar" data-navbarbg="skin6">
			<nav class="navbar top-navbar navbar-expand-md">
				<div class="navbar-header" data-logobg="skin6">
					<!-- This is for the sidebar toggle which is visible on mobile only -->
					<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
					<!-- ============================================================== -->
					<!-- Logo -->
					<!-- ============================================================== -->
					<div class="navbar-brand">
						<!-- Logo icon -->
						<a href="index.html"> <b class="logo-icon"> <!-- Dark Logo icon --> <img src="assets/images/MulMang_Banner-logo.png" width="40px" alt="homepage" class="dark-logo" /> <!-- Light Logo icon --> <img src="assets/images/MulMang_Banner-logo.png" width="40px" alt="homepage" class="light-logo" />
						</b> <!--End Logo icon --> <!-- Logo text --> <span class="logo-text"> <!-- dark Logo text --> <img src="assets/images/MulMang_Banner-text.png" width="120px" alt="homepage" class="dark-logo" /> <!-- Light Logo text --> <img src="assets/images/MulMang_Banner-text.png" width="120px" class="light-logo" alt="homepage" />
						</span>
						</a>
					</div>
					<!-- ============================================================== -->
					<!-- End Logo -->
					<!-- ============================================================== -->
					<!-- ============================================================== -->
					<!-- Toggle which is visible on mobile only -->
					<!-- ============================================================== -->
					<a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
				</div>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<div class="navbar-collapse collapse" id="navbarSupportedContent">
					<!-- ============================================================== -->
					<!-- toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-left mr-auto ml-3 pl-1">
						<!-- Notification -->
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)" id="bell" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span><i data-feather="bell" class="svg-icon"></i></span> <span class="badge badge-primary notify-no rounded-circle">5</span>
						</a>
							<div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
								<ul class="list-style-none">
									<li>
										<div class="message-center notifications position-relative">
											<!-- Message -->
											<a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">
												<div class="btn btn-danger rounded-circle btn-circle">
													<i data-feather="airplay" class="text-white"></i>
												</div>
												<div class="w-75 d-inline-block v-middle pl-2">
													<h6 class="message-title mb-0 mt-1">Luanch Admin</h6>
													<span class="font-12 text-nowrap d-block text-muted">Just see the my new admin!</span> <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
												</div>
											</a>
											<!-- Message -->
											<a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2"> <span class="btn btn-success text-white rounded-circle btn-circle"><i data-feather="calendar" class="text-white"></i></span>
												<div class="w-75 d-inline-block v-middle pl-2">
													<h6 class="message-title mb-0 mt-1">Event today</h6>
													<span class="font-12 text-nowrap d-block text-muted text-truncate">Just a reminder that you have event</span> <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
												</div>
											</a>
											<!-- Message -->
											<a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2"> <span class="btn btn-info rounded-circle btn-circle"><i data-feather="settings" class="text-white"></i></span>
												<div class="w-75 d-inline-block v-middle pl-2">
													<h6 class="message-title mb-0 mt-1">Settings</h6>
													<span class="font-12 text-nowrap d-block text-muted text-truncate">You can customize this template as you want</span> <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
												</div>
											</a>
											<!-- Message -->
											<a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2"> <span class="btn btn-primary rounded-circle btn-circle"><i data-feather="box" class="text-white"></i></span>
												<div class="w-75 d-inline-block v-middle pl-2">
													<h6 class="message-title mb-0 mt-1">Pavan kumar</h6>
													<span class="font-12 text-nowrap d-block text-muted">Just see the my admin!</span> <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
												</div>
											</a>
										</div>
									</li>
									<li><a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i>
									</a></li>
								</ul>
							</div></li>
						<!-- End Notification -->
						<!-- ============================================================== -->
						<!-- create new -->
						<!-- ============================================================== -->
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="settings" class="svg-icon"></i>
						</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div></li>
						<li class="nav-item d-none d-md-block"><a class="nav-link" href="javascript:void(0)">
								<div class="customize-input">
									<select class="custom-select form-control bg-white custom-radius custom-shadow border-0">
										<option selected>EN</option>
										<option value="1">AB</option>
										<option value="2">AK</option>
										<option value="3">BE</option>
									</select>
								</div>
						</a></li>
					</ul>
					<!-- ============================================================== -->
					<!-- Right side toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-right">
						<!-- ============================================================== -->
						<!-- Search -->
						<!-- ============================================================== -->
						<li class="nav-item d-none d-md-block"><a class="nav-link" href="javascript:void(0)">
								<form>
									<div class="customize-input">
										<input class="form-control custom-shadow custom-radius border-0 bg-white" type="search" placeholder="Search" aria-label="Search"> <i class="form-control-icon" data-feather="search"></i>
									</div>
								</form>
						</a></li>
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle" width="40"> <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span> <span class="text-dark">Jason Doe</span> <i data-feather="chevron-down" class="svg-icon"></i></span>
						</a>
							<div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
								<a class="dropdown-item" href="javascript:void(0)"><i data-feather="user" class="svg-icon mr-2 ml-1"></i> My Profile</a> <a class="dropdown-item" href="javascript:void(0)"><i data-feather="credit-card" class="svg-icon mr-2 ml-1"></i> My Balance</a> <a class="dropdown-item" href="javascript:void(0)"><i data-feather="mail" class="svg-icon mr-2 ml-1"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i data-feather="settings" class="svg-icon mr-2 ml-1"></i> Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i data-feather="power" class="svg-icon mr-2 ml-1"></i> Logout</a>
								<div class="dropdown-divider"></div>
								<div class="pl-4 p-3">
									<a href="javascript:void(0)" class="btn btn-sm btn-info">View Profile</a>
								</div>
							</div></li>
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
					</ul>
				</div>
			</nav>
		</header>
		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<aside class="left-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar" data-sidebarbg="skin6">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="index.html" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span></a></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Applications</span></li>
						<li class="sidebar-item"><a class="sidebar-link" href="ticket-list.html" aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span class="hide-menu">Ticket List </span></a></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="app-chat.html" aria-expanded="false"><i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Chat</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false"><i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Calendar</span></a></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Components</span></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">Forms </span></a>
							<ul aria-expanded="false" class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a href="form-inputs.html" class="sidebar-link"><span class="hide-menu"> Form Inputs </span></a></li>
								<li class="sidebar-item"><a href="form-input-grid.html" class="sidebar-link"><span class="hide-menu"> Form Grids </span></a></li>
								<li class="sidebar-item"><a href="form-checkbox-radio.html" class="sidebar-link"><span class="hide-menu"> Checkboxes & Radios </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="grid" class="feather-icon"></i><span class="hide-menu">Tables </span></a>
							<ul aria-expanded="false" class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a href="table-basic.html" class="sidebar-link"><span class="hide-menu"> Basic Table </span></a></li>
								<li class="sidebar-item"><a href="table-dark-basic.html" class="sidebar-link"><span class="hide-menu"> Dark Basic Table </span></a></li>
								<li class="sidebar-item"><a href="table-sizing.html" class="sidebar-link"><span class="hide-menu"> Sizing Table </span></a></li>
								<li class="sidebar-item"><a href="table-layout-coloured.html" class="sidebar-link"><span class="hide-menu"> Coloured Table Layout </span></a></li>
								<li class="sidebar-item"><a href="table-datatable-basic.html" class="sidebar-link"><span class="hide-menu"> Basic Datatables Layout </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="bar-chart" class="feather-icon"></i><span class="hide-menu">Charts </span></a>
							<ul aria-expanded="false" class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a href="chart-morris.html" class="sidebar-link"><span class="hide-menu"> Morris Chart </span></a></li>
								<li class="sidebar-item"><a href="chart-chart-js.html" class="sidebar-link"><span class="hide-menu"> ChartJs </span></a></li>
								<li class="sidebar-item"><a href="chart-knob.html" class="sidebar-link"><span class="hide-menu"> Knob Chart </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span class="hide-menu">UI Elements </span></a>
							<ul aria-expanded="false" class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a href="ui-buttons.html" class="sidebar-link"><span class="hide-menu"> Buttons </span></a></li>
								<li class="sidebar-item"><a href="ui-modals.html" class="sidebar-link"><span class="hide-menu"> Modals </span></a></li>
								<li class="sidebar-item"><a href="ui-tab.html" class="sidebar-link"><span class="hide-menu"> Tabs </span></a></li>
								<li class="sidebar-item"><a href="ui-tooltip-popover.html" class="sidebar-link"><span class="hide-menu"> Tooltip & Popover</span></a></li>
								<li class="sidebar-item"><a href="ui-notification.html" class="sidebar-link"><span class="hide-menu">Notification</span></a></li>
								<li class="sidebar-item"><a href="ui-progressbar.html" class="sidebar-link"><span class="hide-menu">Progressbar</span></a></li>
								<li class="sidebar-item"><a href="ui-typography.html" class="sidebar-link"><span class="hide-menu">Typography</span></a></li>
								<li class="sidebar-item"><a href="ui-bootstrap.html" class="sidebar-link"><span class="hide-menu">Bootstrap UI</span></a></li>
								<li class="sidebar-item"><a href="ui-breadcrumb.html" class="sidebar-link"><span class="hide-menu">Breadcrumb</span></a></li>
								<li class="sidebar-item"><a href="ui-list-media.html" class="sidebar-link"><span class="hide-menu">List Media</span></a></li>
								<li class="sidebar-item"><a href="ui-grid.html" class="sidebar-link"><span class="hide-menu"> Grid </span></a></li>
								<li class="sidebar-item"><a href="ui-carousel.html" class="sidebar-link"><span class="hide-menu"> Carousel</span></a></li>
								<li class="sidebar-item"><a href="ui-scrollspy.html" class="sidebar-link"><span class="hide-menu"> Scrollspy</span></a></li>
								<li class="sidebar-item"><a href="ui-toasts.html" class="sidebar-link"><span class="hide-menu"> Toasts</span></a></li>
								<li class="sidebar-item"><a href="ui-spinner.html" class="sidebar-link"><span class="hide-menu"> Spinner </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="ui-cards.html" aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i><span class="hide-menu">Cards </span></a></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="authentication-login1.html" aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span class="hide-menu">Login </span></a></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="authentication-register1.html" aria-expanded="false"><i data-feather="lock" class="feather-icon"></i><span class="hide-menu">Register </span></a></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="feather" class="feather-icon"></i><span class="hide-menu">Icons </span></a>
							<ul aria-expanded="false" class="collapse first-level base-level-line">
								<li class="sidebar-item"><a href="icon-fontawesome.html" class="sidebar-link"><span class="hide-menu"> Fontawesome Icons </span></a></li>
								<li class="sidebar-item"><a href="icon-simple-lineicon.html" class="sidebar-link"><span class="hide-menu"> Simple Line Icons </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-feather="crosshair" class="feather-icon"></i><span class="hide-menu">Multi level dd</span></a>
							<ul aria-expanded="false" class="collapse first-level base-level-line">
								<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.1</span></a></li>
								<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.2</span></a></li>
								<li class="sidebar-item"><a class="has-arrow sidebar-link" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu">Menu 1.3</span></a>
									<ul aria-expanded="false" class="collapse second-level base-level-line">
										<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.3.1</span></a></li>
										<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.3.2</span></a></li>
										<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.3.3</span></a></li>
										<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.3.4</span></a></li>
									</ul></li>
								<li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><span class="hide-menu"> item 1.4</span></a></li>
							</ul></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="docs/docs.html" aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i><span class="hide-menu">Documentation</span></a></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="authentication-login1.html" aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span></a></li>
					</ul>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">직원 계정 등록</h3>
							<hr>
							<form id="employeeAddFrm">
								<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
								<div class="form-body">
									<div class="row">
										<div class="col-md-1"></div>

										<!-- 사진등록 -->
										<div class="col-md-1">
											<div class="form-group">
												<label>사진</label>
												<div class="preview-container hidden" id="preview-container">
													<img id="imagePreview" src="">
												</div>
												<input type="button" class="addPic" id="addPic" value="+">
											</div>
										</div>

										<div class="col-md-9 m-auto">
											<div class="form-group">
												<label for="gov_id">교육청관리번호</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" class="form-control is-invalid" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11">
														<div id="gov_id_feedback" class="mt-2"></div>
													</div>
													<div class="col-md-1">
														<input type="button" id="gov_check_button" class="btn waves-effect waves-light btn-primary" disabled value="중복확인" onclick="dupGov();">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="gov_id">이름</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" class="form-control is-invalid" id="emp_name" name="emp_name" placeholder="홍길동">
														<div id="emp_name_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">부서</label>
												<div class="row">
													<div class="col-md-8">
														<select class="form-control is-invalid" id="department" name="dept_code" style="background-image: none;">
															<option value="0">부서를 선택하세요.</option>
															<option value="D1">교장</option>
															<option value="D2">교감</option>
															<option value="D3">교무부</option>
															<option value="D4">행정부</option>
														</select>
														<div id="department_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">직급</label>
												<div class="row">
													<div class="col-md-8">
														<select class="form-control is-invalid" id="job" name="job_code" style="background-image: none;">
															<option value="0">직급을 선택하세요.</option>
															<option value="J1">교장</option>
															<option value="J2">교감</option>
															<option value="J3">부장</option>
															<option value="J4">직원</option>
														</select>
														<div id="job_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">주민등록번호</label>
												<div class="row">
													<div class="col-md-4">
														<input type="text" class="form-control is-invalid" id="firstEmpNo" placeholder="000101" maxlength="6">

													</div>
													<div class="col-md-4">
														<input type="text" class="form-control is-invalid" id="secondEmpNo" placeholder="4111111" maxlength="7">
													</div>
													<input type="text" id="emp_no" name="emp_no">
													<div id="emp_no_feedback" class="mt-2 col-md-8"></div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">우편번호</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" name="emp_post" class="form-control is-invalid" id="sample6_postcode" placeholder="우편번호" onclick="sample6_execDaumPostcode()" readonly><br> <input type="text" name="emp_addr" class="form-control is-invalid" id="sample6_address" placeholder="주소" readonly><br> <input type="text" name="emp_detail_addr" class="form-control is-invalid" id="sample6_detailAddress" placeholder="상세주소"> <input type="text" id="sample6_extraAddress" placeholder="참고항목" hidden>
														<div id="emp_post_feedback" class="mt-2"></div>
													</div>
													<div class="col-md-1">
														<input type="button" id="postBtn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn waves-effect waves-light btn-primary">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">전화번호</label>
												<div class="row">
													<div class="col-md-2">
														<input type="text" class="form-control is-invalid" id="firstPhone" placeholder="010" maxlength="3">
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control is-invalid" id="secondPhone" placeholder="1111" maxlength="4">
													</div>
													<div class="col-md-3">
														<input type="text" class="form-control is-invalid" id="thirdPhone" placeholder="2222" maxlength="4">
													</div>
													<div id="emp_phone_feedback" class="mt-2 col-md-8"></div>
													<input type="text" id="empPhone" name="emp_phone">

												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">내선전화번호</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" class="form-control is-invalid" id="emp_internal_phone" name="emp_internal_phone" placeholder="0000">
														<div id="emp_internal_phone_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">비밀번호</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" class="form-control" id="emp_pw" name="emp_pw" placeholder="주민등록번호를 입력하세요" readonly>
														<div id="emp_pw_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">이전학교번호</label>
												<div class="row">
													<div class="col-md-8">
														<input type="text" class="form-control " id="trans_school_id" placeholder="00000000">
														<div id="trans_school_id_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="gov_id">입사일</label>
												<div class="row">
													<div class="col-md-8">
														<input type="date" class="form-control " id="hire_date" name="hire_date">
														<div id="trans_school_id_feedback" class="mt-2"></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-8"></div>
													<div class="col-md-2">
														<br> <input type="submit" class="btn waves-effect waves-light btn-primary" value="등록">
														<input type="button" class="btn waves-effect waves-light btn-light" value="취소">
													</div>
												</div>
											</div>
											<input type="file" class="custom-file-input" id="inputGroupFile04" name="file" hidden>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="dist/js/app-style-switcher.js"></script>
	<script src="dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="dist/js/custom.min.js"></script>

	<!-- 입력여부 -->
	<script>
		let valiCount = 0;
	
		const form = document.getElementById('employeeAddFrm');
		
		form.addEventListener('submit', (e) => {
			e.preventDefault();
			
			let vali_check = false;
			let vali_text = '';
			
			if(form.gov_id.value == "" || valiCount == 0){
				form.gov_id.focus();
			} else if(form.emp_name.value == "" || !/^[가-힣]{1,6}$/.test(form.emp_name.value)) {
				form.emp_name.value = "";
				form.emp_name.focus();
			} else if(form.dept_code.value == "0") {
				form.dept_code.focus();
			} else if(form.job_code.value == "0") {
				form.job_code.focus();
			} else if(form.emp_no.value == "") {
				document.getElementById("firstEmpNo").focus();
			} else if(form.emp_post.value == "") {
				form.emp_post.focus();
			} else if(form.emp_detail_addr.value == "") {
				form.emp_detail_addr.focus();
			} else if(form.emp_phone.value == "" || !/^01[0-9]\d{3,4}\d{4}$/.test(form.emp_phone.value)) {
				document.getElementById("firstPhone").focus();
			} else if(form.emp_internal_phone.value == "") {
				form.emp_internal_phone.focus();
			} else if(form.file.value == "") {
				document.getElementById('addPic').focus();
			} else {
					const payload = new FormData(form);
					const csrfToken = document.getElementById("csrf_token").value;
					fetch('/signup',{
						method:'POST',
						headers : {
							'X-CSRF-TOKEN': csrfToken
						},
						body:payload
					})
					.then(response => response.json())
					.then(data=>{
						console.log('data:', data);
						if(data.res_code == '200'){
							Swal.fire({
								icon :'success',
								title:'성공',
								text : data.res_msg,
								confirmButtonText:"닫기"
							}).then((result)=>{
								location.href="/";
							});
						} else{
							Swal.fire({
								icon:'error',
								title:'실패',
								text: data.res_msg,
								confirmButtonText:"닫기"
							});
						}
					}).catch(error => {
				        console.error('Error:', error);
				  });
			}
		})
	</script>

	<!-- 정규식 -->
	<script>
		const govIdInput = document.getElementById('gov_id');
		
		const govCheckButton = document.getElementById('gov_check_button');
		
		govIdInput.addEventListener('input', function() {
			govIdInput.value = govIdInput.value.replace(/[^0-9]/g, '');
		});
	
		/* 교육청관리번호 정규식 검사 */
		const govIdValid = govIdInput.addEventListener('keyup', function() {
	    const govId = govIdInput.value;
	    const feedbackElement = document.getElementById('gov_id_feedback');
	    const isValid = /^[0-9]{11}$/.test(govId);

	    if (isValid) {
        feedbackElement.textContent = '중복확인을 진행해주세요.';
        feedbackElement.style.color = 'red';
        govIdInput.classList.add('is-invalid');
        govIdInput.classList.remove('is-valid');
        govCheckButton.disabled = false;
        document.getElementById('gov_check_button').focus();
	    } else {
        feedbackElement.textContent = '숫자 11자리를 입력해주세요.';
        feedbackElement.style.color = 'red';
        govIdInput.classList.add('is-invalid');
        govIdInput.classList.remove('is-valid');
        govCheckButton.disabled = true;
	    }
		});
		
		/* 직원명 */
		const empNameInput = document.getElementById('emp_name');
		
		empNameInput.addEventListener('input', function() {
			empNameInput.value = empNameInput.value.replace(/[^ㄱ-힣]/g, '');
		});
		
		const empNameValid = empNameInput.addEventListener('keyup', function(event) {
			let valiCount = 0;
			const empName = empNameInput.value;
			const empNamefeedback = document.getElementById('emp_name_feedback');
			const isValid = /^[가-힣]{1,6}$/.test(empName);
	
	    if (isValid) {
	    	empNamefeedback.textContent = '';
	    	empNamefeedback.style.color = 'green';
        empNameInput.classList.add('is-valid');
        empNameInput.classList.remove('is-invalid');
        
        valiCount = 1;
        
        if(event.key == 'Enter') {
        	document.getElementById('department').focus();
        }
        
	    } else {
	    	empNamefeedback.textContent = '한글 1 ~ 6자리를 입력해주세요.';
	    	empNamefeedback.style.color = 'red';
        empNameInput.classList.add('is-invalid');
        empNameInput.classList.remove('is-valid');
        
        valiCount = 0;
	    }
	    
	    return valiCount;
		});
		
		const departmentInput = document.getElementById('department');
		departmentInput.addEventListener('change', function() {
			const department = departmentInput.value;
			const feedbackElement = document.getElementById('department_feedback');
			
			if (department != 0) {
				feedbackElement.textContent = '';
				feedbackElement.style.color = 'green';
				departmentInput.classList.add('is-valid');
				departmentInput.classList.remove('is-invalid');
			} else {
				feedbackElement.textContent = '부서를 선택하세요';
				feedbackElement.style.color = 'red';
				departmentInput.classList.add('is-invalid');
				departmentInput.classList.remove('is-valid');
			}
			
			if(department == 'D1') {
				jobInput.value = 'J1';
				job_feedback.textContent = '';
				job_feedback.style.color = 'green';
				jobInput.classList.add('is-valid');
				jobInput.classList.remove('is-invalid');
				jobInput.innerHTML = '<option value="J1">교장</option>';
			} else if(department == 'D2') {
				jobInput.value = 'J2';
				job_feedback.textContent = '';
				job_feedback.style.color = 'green';
				jobInput.classList.add('is-valid');
				jobInput.classList.remove('is-invalid');
				jobInput.innerHTML = '<option value="J2">교감</option>';
			} else if(department == 'D3' || department == 'D4'){
				jobInput.innerHTML = '<option value="0">직급을 선택하세요.</option>';
				jobInput.innerHTML += '<option value="J3">부장</option>';
				jobInput.innerHTML += '<option value="J4">직원</option>';
				
				job_feedback.textContent = '부서를 선택하세요';
				job_feedback.style.color = 'red';
				jobInput.classList.add('is-invalid');
				jobInput.classList.remove('is-valid');
			} else {
				jobInput.innerHTML = '<option value="0">직급을 선택하세요.</option>';
				jobInput.innerHTML += '<option value="J1">교장</option>'
					jobInput.innerHTML += '<option value="J2">교감</option>'
				jobInput.innerHTML += '<option value="J3">부장</option>';
				jobInput.innerHTML += '<option value="J4">직원</option>';
			}
		});
		
		const  jobInput = document.getElementById('job');
		jobInput.addEventListener('change', function() {
			const job = jobInput.value;
			const feedbackElement = document.getElementById('job_feedback');
			
			if (job != 0) {
				job_feedback.textContent = '';
				job_feedback.style.color = 'green';
				jobInput.classList.add('is-valid');
				jobInput.classList.remove('is-invalid');
			} else {
				job_feedback.textContent = '부서를 선택하세요';
				job_feedback.style.color = 'red';
				jobInput.classList.add('is-invalid');
				jobInput.classList.remove('is-valid');
			}
		});
		
		/* 주민등록번호 정규식 */
		document.getElementById('firstEmpNo').addEventListener('input', validateResidentNumber);
    document.getElementById('secondEmpNo').addEventListener('input', validateResidentNumber);
	    
    document.getElementById('firstEmpNo').addEventListener('input', function() {
    	document.getElementById('firstEmpNo').value = document.getElementById('firstEmpNo').value.replace(/[^0-9]/g, '');
		});
    document.getElementById('secondEmpNo').addEventListener('input', function() {
    	document.getElementById('secondEmpNo').value = document.getElementById('secondEmpNo').value.replace(/[^0-9]/g, '');
		});

    function validateResidentNumber() {
       const firstEmpNo = document.getElementById('firstEmpNo');
       const secondEmpNo = document.getElementById('secondEmpNo');
       const empNoFeedback = document.getElementById('emp_no_feedback');
       const empNo = `${firstEmpNo.value}${secondEmpNo.value}`;
       
       const isValidFirst = /^[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/;
       const isValidSecond = /^[1-4][0-9]{6}$/;

       // 주민등록번호 형식 확인
       if (isValidFirst.test(firstEmpNo.value)) {
           firstEmpNo.classList.remove('is-invalid');
           firstEmpNo.classList.add('is-valid');
           secondEmpNo.focus();
       } 
       
       if(isValidSecond.test(secondEmpNo.value)) {
         secondEmpNo.classList.remove('is-invalid');
         secondEmpNo.classList.add('is-valid');
       } 
			
       if (isValidFirst.test(firstEmpNo.value) && isValidSecond.test(secondEmpNo.value)) {
       	document.getElementById('emp_no').value = empNo;
       	document.getElementById('emp_pw').value = empNo;
       	empNoFeedback.textContent = '';
       	document.getElementById('postBtn').focus();
       } else {
           empNoFeedback.textContent = '올바른 주민등록번호 형식이 아닙니다.';
           empNoFeedback.style.color = 'red';
           firstEmpNo.classList.remove('is-valid');
           firstEmpNo.classList.add('is-invalid');
           document.getElementById('emp_no').value = '';
       }
    }
    
    /* 전화번호 */
    const firstPhone = document.getElementById('firstPhone');
    const secondPhone = document.getElementById('secondPhone');
    const thirdPhone = document.getElementById('thirdPhone');
    const empPhone = document.getElementById('empPhone');
    
    const onlyNumber = function(event) {
        let value = event.target.value;
        value = value.replace(/[^0-9]/g, '');
        event.target.value = value;
        updateEmpPhone();
    };
    
    firstPhone.addEventListener('input', onlyNumber);
    secondPhone.addEventListener('input', onlyNumber);
    thirdPhone.addEventListener('input', onlyNumber);
    
    const updateEmpPhone = () => {
        const firstValue = firstPhone.value.trim();
        const secondValue = secondPhone.value.trim();
        const thirdValue = thirdPhone.value.trim();
        
        empPhone.value = `${firstValue}${secondValue}${thirdValue}`;
    };
    
    firstPhone.addEventListener('keyup', (event) => {
    	const trimmedValue = firstPhone.value.trim();
      const isValid = /^01[0-9]$/.test(trimmedValue);
    	
    	if(isValid) {
    		firstPhone.classList.remove('is-invalid');
    		firstPhone.classList.add('is-valid');
    		document.getElementById('emp_phone_feedback').textContent = '';
    		secondPhone.focus();
    	} else {
    		firstPhone.classList.remove('is-valid');
    		firstPhone.classList.add('is-invalid');
    		document.getElementById('emp_phone_feedback').textContent = '휴대전화 앞 3자리를 입력하세요';
    		document.getElementById('emp_phone_feedback').style.color = 'red';
    	}
    	
    	if(event.key == 'Enter') {
    		secondPhone.focus();
    	}
    	
    	updateEmpPhone();
    });
    
    secondPhone.addEventListener('keyup', (event) => {
    	
    	if(secondPhone.value.length == 4) {
    		secondPhone.classList.remove('is-invalid');
    		secondPhone.classList.add('is-valid');
    		document.getElementById('emp_phone_feedback').textContent = '';
    		thirdPhone.focus();
    	} else {
    		secondPhone.classList.remove('is-valid');
    		secondPhone.classList.add('is-invalid');
    		document.getElementById('emp_phone_feedback').textContent = '휴대전화 중간 3 ~ 4자리를 입력하세요';
    		document.getElementById('emp_phone_feedback').style.color = 'red';
    	}
    	
    	if(event.key == 'Enter') {
    		if(secondPhone.value.length == 3) {
    		secondPhone.classList.remove('is-invalid');
    		secondPhone.classList.add('is-valid');
    		document.getElementById('emp_phone_feedback').textContent = '';    			
    		}
    		thirdPhone.focus();
    	}
    	
    	updateEmpPhone();
    });
    
    thirdPhone.addEventListener('keyup', (event) => {
    	if(thirdPhone.value.length == 4) {
    		thirdPhone.classList.remove('is-invalid');
    		thirdPhone.classList.add('is-valid');
    		document.getElementById('emp_phone_feedback').textContent = '';
    		document.getElementById('emp_internal_phone').focus();
    	} else {
    		thirdPhone.classList.remove('is-valid');
    		thirdPhone.classList.add('is-invalid');
    		document.getElementById('emp_phone_feedback').textContent = '휴대전화 끝 4자리를 입력하세요';
    		document.getElementById('emp_phone_feedback').style.color = 'red';
    	}
    	
    	if(event.key == 'Enter') {
    		document.getElementById('emp_internal_phone').focus();
    	}
    	
    	updateEmpPhone();
    });
    
    const internalPhone = document.getElementById("emp_internal_phone");
    
    internalPhone.addEventListener('input', onlyNumber);
    
    internalPhone.addEventListener('keyup', () => {
    	const internalVali = /^\d{4}$/.test(internalPhone.value);
    	
    	if(internalVali) {
    		internalPhone.classList.remove('is-invalie');
    		internalPhone.classList.add('is-valid');
    		document.getElementById('emp_internal_phone_feedback').textContent = '';
    		document.getElementById('trans_school_id').focus();
    	} else {
    		internalPhone.classList.remove('is-valie');
    		internalPhone.classList.add('is-invalid');
    		document.getElementById('emp_internal_phone_feedback').textContent = '내선전화번호 4자리를 입력하세요';
    		document.getElementById('emp_internal_phone_feedback').style.color = 'red';
    	}
    });
    
    const today = new Date();
    const year = today.getFullYear();
    const month = (today.getMonth() + 1).toString().padStart(2, '0');
    const day = today.getDate().toString().padStart(2, '0');

    const formattedDate = `${year}-${month}-${day}`;

    document.getElementById('hire_date').value = formattedDate;
	</script>

	<!-- 교육청관리번호 중복 확인 -->
	<script>
		const govCheck = 0;
	
		const dupGov = function() {
			let govId = document.getElementById('gov_id').value;
			const govFeedback = document.getElementById('gov_id_feedback');
			
			const csrfToken = document.getElementById("csrf_token").value;
						
			if(govId.length == 11 && !isNaN(govId)) {
				
				fetch('/govIdCheck',{
					method:'POST',
					headers : {
						"Content-Type": "application/json;charset=utf-8",
						"Accept": "application/json",
						'X-CSRF-TOKEN': csrfToken
					},
					body:govId
				})
				.then(response => response.json())
				.then(data => {
					if(data.res_code == "200") {
						govFeedback.textContent = '중복확인이 완료되었습니다.';
						govFeedback.style.color = 'green';
				    govIdInput.classList.add('is-valid');
			      govIdInput.classList.remove('is-invalid');
			      document.getElementById('emp_name').focus();
						
			      valiCount = 1;
			      
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기"
						})
					} else {
						document.getElementById('gov_id').focus();
						
						valiCount = 0;
						
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기"
						});
					}
				})
			}
		}
	</script>

	<!-- 사진 등록 -->
	<script>
    const fileInput = document.getElementById('inputGroupFile04');
    const imagePreview = document.getElementById('imagePreview');
    const addPicButton = document.getElementById('addPic');
    const previewContainer = document.getElementById('preview-container');

    addPicButton.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];

        if (file) {
            // Validate file type
            const validExtensions = ['jpg', 'jpeg', 'png'];
            const fileExtension = file.name.split('.').pop().toLowerCase();

            if (validExtensions.includes(fileExtension)) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    imagePreview.src = e.target.result;
                    addPicButton.classList.remove('addPic');
                    addPicButton.classList.add('littleButton');
                    previewContainer.classList.remove('hidden');
                };

                reader.readAsDataURL(file);
            } else {
                Swal.fire({
                	icon:'error',
									title:'실패',
									text: '이미지 파일만 선택할 수 있습니다.',
									confirmButtonText:"닫기"
                });
                fileInput.value = ''; // Clear the file input
                imagePreview.src = '';
                addPicButton.classList.add('addPic');
                addPicButton.classList.remove('littleButton');
                previewContainer.classList.add('hidden');
            }
        } else {
            // If no file is selected, reset preview
            imagePreview.src = '';
            addPicButton.classList.add('addPic');
            addPicButton.classList.remove('littleButton');
            previewContainer.classList.add('hidden');
        }
    });
</script>


	<!-- Daum 주소 Api -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
    function sample6_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function (data) {
          var addr = '';
          var extraAddr = '';

          if (data.userSelectedType === 'R') {
            addr = data.roadAddress;
          } else {
            addr = data.jibunAddress;
          }

          if (data.userSelectedType === 'R') {
            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
              extraAddr += data.bname;
            }
            if (data.buildingName !== '' && data.apartment === 'Y') {
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            if (extraAddr !== '') {
              extraAddr = ' (' + extraAddr + ')';
            }
            document.getElementById("sample6_extraAddress").value = extraAddr;

          } else {
            document.getElementById("sample6_extraAddress").value = '';
          }

          document.getElementById('sample6_postcode').value = data.zonecode;
          document.getElementById("sample6_address").value = addr;
          document.getElementById("sample6_detailAddress").focus();
          
          const postCode = document.getElementById('sample6_postcode');
          const addrCode = document.getElementById("sample6_address");
          const detailAddr = document.getElementById("sample6_detailAddress");
          
          if(postCode.value != '') {
        	  postCode.classList.remove('is-invalid');
        	  postCode.classList.add('is-valid');
        	  addrCode.classList.remove('is-invalid');
        	  addrCode.classList.add('is-valid');
	        } else {
	        	postCode.classList.remove('is-valid');
	        	postCode.classList.add('is-invalid');
	        	addrCode.classList.remove('is-valid');
	        	addrCode.classList.add('is-invalid');
	        	emp_post_feedback.textContent = '우편번호를 선택하세요';
	        	emp_post_feedback.style.color = 'red';
	        }
          
          detailAddr.addEventListener('keyup', (event) => {
        	  
        	  if(detailAddr.value.length > 0) {
        		  detailAddr.classList.remove('is-invalid');
        		  detailAddr.classList.add('is-valid');
           		emp_post_feedback.textContent = '';
           		if(event.key == 'Enter') {
           			document.getElementById('firstPhone').focus();
           		}
        	  } else {
        		  detailAddr.classList.remove('is-valid');
        		  detailAddr.classList.add('is-invalid');
  	        	emp_post_feedback.textContent = '상세주소를 입력하세요';
	        	emp_post_feedback.style.color = 'red';
        	  }
          })
          
        }
      }).open();
    }
  </script>

</body>
</html>